/*------------------------------------------------------------------------------------------------------*/
/*** default Settings */
/*------------------------------------------------------------------------------------------------------*/

.tx-ketroubletickets-pi1 * {
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: Verdana;
  }
.tx-ketroubletickets-pi1 a { 
  text-decoration: none;
  color: #000000;
  }
.tx-ketroubletickets-pi1 a:hover { 
  text-decoration: none;
  color: #4D87C7;
  }
.kett_float_left { 
  float: left; 
  }
.kett_float_right { 
  float: right; 
  }
.kett_float_clean { 
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  }

/*------------------------------------------------------------------------------------------------------*/
/*** LISTVIEW-TOOLBAR */
/*------------------------------------------------------------------------------------------------------*/

/* default container */
.kett_listview_toolbar {
  width: auto;
  padding: 5px 5px 4px 5px;
  margin: 0 0 5px 0;
  background: #dadada url(../images/css_gradient1.gif) top left repeat-x;
  border: 1px solid #353535;
  overflow: hidden;
  }

/* new ticket */
.kett_toolbar_new_ticket {
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  }
.kett_toolbar_new_ticket img {
  float: left;
  margin: 0 5px 0 0;
  }

/* searchbox */
.tx-ketroubletickets-pi1-searchbox-sword {
  float: left;
  height: 16px;
  width: 125px;
  margin: 0 3px 0 0;
  background: #f3f3f3;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  }
.tx-ketroubletickets-pi1-searchbox-sword:focus, 
.tx-ketroubletickets-pi1-searchbox-sword:hover,
.tx-ketroubletickets-pi1-searchbox-sword:active { 
  background: #fff5d1; 
  }
.tx-ketroubletickets-pi1-searchbox-button {
  float: left;
  height: 18px;
  padding: 0px 2px 0px 2px;
  background: #eff4f4;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  font-weight: bold;
  }

/* modeselector */
.kett_toolbar_modeselector label{
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  line-height: 16px;
  }
.tx-ketroubletickets-pi1-modeSelector { 
  float: left;
  font-size: 11px;
  padding: 0 0 0 5px;
  line-height: 16px;
  }
.tx-ketroubletickets-pi1-modeSelector span {
  float: left;
  display: block;
  margin: 0 10px 0 0;
  padding: 0 0 0 0;
  }
.tx-ketroubletickets-pi1-modeSelector .tx-ketroubletickets-pi1-modeSelector-SCell {
    background: transparent url(../images/icon_sort_active.gif) left center no-repeat;
    background: transparent url(../images/icon_sort_active.gif) left center no-repeat;
    padding: 0 0 0 11px;
  }

/* filter selector */
.kett_toolbar_filter label {
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  padding: 0 5px 0 0;
  line-height: 16px;
  }
.kett_toolbar_filter select {   
  float: left;
  height: 18px;
  width: auto;
  margin: 0 5px 0 0;
  background: #f3f3f3;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  }
.kett_toolbar_filter input {
  float: left;
  height: 18px;
  padding: 0px 2px 0px 2px;
  background: #eff4f4;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  font-weight: bold;
  }
.kett_toolbar_filter select:focus,
.kett_toolbar_filter select:hover,
.kett_toolbar_filter select:active { background: #fff5d1; }

/* sorting */
.kett_toolbar_sort { line-height: 16px; font-size: 11px; }
.kett_toolbar_sort label {
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  padding: 0 5px 0 0;
  line-height: 16px;
  }

/* CSV export */
.kett_toolbar_csv {
  position: relative;
  margin: -1px 0 -1px 0;
  background: #f0f0f0;
  border: 1px solid #bec7c7;
  font-size: 11px;
  line-height: 15px;
  padding: 1px 3px 0px 1px;
  }
.kett_toolbar_csv:focus,
.kett_toolbar_csv:hover,
.kett_toolbar_csv:active { 
  background: #fff5d1; 
  }
.kett_toolbar_csv img { 
  margin: 0 3px 0 0;
  float: left;
  }

/* Listview Pagebrowser */
.tx-ketroubletickets-pi1-browsebox {
  background:#DADADA url(../images/css_gradient1.gif) repeat-x scroll left top;
  border:1px solid #353535;
  margin:0 0 5px;
  overflow:hidden;
  padding:5px 5px 4px;
  width:auto;
  font-size: 11px;
  line-height: 18px;
  }
.tx-ketroubletickets-pi1-browsebox .resultText {
  float: left;
  width: 200px;
  display: block;
  line-height: 18px;
  }

/*------------------------------------------------------------------------------------------------------*/
/*** LISTVIEW CLIENTVIEW */
/*------------------------------------------------------------------------------------------------------*/
.kett_listview_row {
  width: auto;
  border: 1px solid #333333;
  margin: 0 0 5px 0;
  overflow:hidden;
  }
.kett_listview_row_head {
  height:43px;
  margin: 0 0 1px 0;
  background:#FFFFFF url(../images/list_item_head_bg_normal.gif) repeat scroll 0 0;
  line-height: 16px;
  font-size: 12px;
  
  }
.kett_listview_row_statusicon {
  float: left;
  height:30px;
  padding: 10px 6px 0px 6px;
  }
.kett_lvrow_headline_top {
  padding: 5px 0 0 0;
  }
.kett_lvrow_headline_title {
  font-weight: bold;
  }

.kett_listview_row_body {
  height: 69px;
  background: #FFFFFF url(../images/list_item_subt_bg_normal.gif) repeat scroll 0 0;
  margin: 0 0 1px 0;
  }
.kett_listview_row_subt {
  font-size: 10px;
  margin-right: 180px;
  padding: 5px 0 0 6px;
  }
.kett_listview_row_box {
  float:right;
  height:61px;
  background:#EEF3F3;
  border:1px solid #C1D1D1;
  margin: 4px 4px 0 0;
  width:165px;
  }
.kett_lvrow_box_l {
  float: left;
  width: 70px;
  font-size: 9px;
  line-height: 14px;
  margin: 0 0 0 4px;
  }
.kett_lvrow_box_r {
  font-size: 9px;
  font-weight: bold;
  line-height: 14px;
  }

.kett_listview_row_user { margin: 0 0 1px 0;}
.kett_listview_row_user table {
  margin:0;
  padding: 0;
  width: 100%;
  border-collapse:collapse;
  }
.kett_listview_row_user table td {
  width: 33.33%;
  border-right: 1px solid white;
  }

.kett_listview_row_user .kett_lvrow_user_head, .kett_listview_row_user .kett_lvrow_user_head_last {
  height: 19px;
  padding: 0 5px 0 5px;
  background:#FFFFFF url(../images/list_item_userhead_bg_norma.gif) repeat scroll 0 0;
  line-height: 19px;
  font-size: 11px;
  font-weight: bold;
  color: #1b1c1c;
  }
.kett_listview_row_user .kett_lvrow_user_head_last {
  border-right: 0px solid white;
  }

.kett_listview_row_user .kett_lvrow_user_con {
  height:35px;
  background: #D6E1E1;
  }
.kett_listview_row_user .kett_lvrow_user_con .kett_lvrow_user_inner {
  height:26px;
  overflow-y:scroll;
  padding:4px 4px 4px 6px;
  font-size: 12px;
  }

.kett_listview_row_foot {
  height: 27px;
  background:#FFFFFF url(../images/list_item_foot_bg_normal.gif) repeat scroll 0 0;
  line-height: 26px;
  font-size: 11px;
  }

.kett_listview_row_foot .kett_float_left {
  padding: 0 0 0 5px;
  }
.kett_listview_row_foot .kett_lvrf_border {
  font-size:9px;
  color: #abc1c1;
  }
.tx-ketroubletickets-pi1 .due_is_overdue {
  border: 1px solid red;
  background: #e00505;
  color: white;
  }
.kett_listview_row_foot .kett_float_right {
  padding: 0 ;
  line-height: 1px;
  }
.kett_listview_row_foot .kett_float_right img {
  margin: 5px 6px 0 0 ;
  line-height: 0;
  }

/* ALIEN fremde Tickets */

.current_row_is_not_own_task .kett_listview_row_body { 
  background: #FFFFFF url(../images/list_item_subt_bg_alien.gif) repeat scroll 0 0; 
  }


.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_head,
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_head_last {
  background:#FFFFFF url(../images/list_item_userhead_bg_alien.gif) repeat scroll 0 0;
  }
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_con {
  background: #e4e4e4;
  }
.current_row_is_not_own_task .kett_listview_row_foot { 
  background:#FFFFFF url(../images/list_item_foot_bg_alien.gif) repeat scroll 0 0; 
  }



/*------------------------------------------------------------------------------------------------------*/
/*** TICKETS - TROUBLE TICKET SYSTEM  */
/*------------------------------------------------------------------------------------------------------*/
.tx-ketroubletickets-pi1 .cleaner {
	clear:both;
	height:1px;
}





.tx-ketroubletickets-pi1 .due_is_not_overdue {
	padding:1px;
}



.tx-ketroubletickets-pi1 .internalfield {
	background: lightblue;
}

.tx-ketroubletickets-pi1 .comment {
	margin-top:10px;
}

.tx-ketroubletickets-pi1 select {
	margin-bottom: 0px;
}

/* Form */
.ke_tts .title{color:#000; margin-top:7px;}
.ke_tts .title input{width:430px; margin-left:5px;}
.ke_tts p {margin-bottom:10px; color:#000}
.ke_tts .tab {width:100%; margin-bottom:16px;}
.ke_tts .tab td {vertical-align:top; padding:5px; width:50%; font-size:12px;}
/*.ke_tts .tab td input, select {width:100%;}*/
.ke_tts .tab p {margin-bottom:10px; color:#000}
.ke_tts .tab .erledigenbis input{}
.ke_tts #editorWrap1 {margin-bottom:16px;}
.ke_tts .submit input {font-weight:bold; height:22px; width:100%; font-family:Verdana; font-size:10px; background:#fff;}
	
/* Listview */
.ke-tt-listview-head a {font-weight:normal; font-size:10px;}
.ke-tt-listview-head td {border-right:1px solid #cccccc; margin-right:3px; padding-right:3px; width:120px; font-size:10px;}



/* History */
.tx-ketroubletickets-pi1 .ticket_history { border:0px solid #ccc; width:496px;}
.tx-ketroubletickets-pi1 .ticket_history td {vertical-align:top; padding:3px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; border:1px solid #ccc; font-size:10px;}
.tx-ketroubletickets-pi1 .ticket_history .headline{background:#EBEBEB; color:#000; font-size:11px; font-weight:bold; vertical-align:middle;}

.tx-ketroubletickets-pi1 .teaser_pagename a.link,
.tx-ketroubletickets-pi1 .teaser_pagename a.visited,
.tx-ketroubletickets-pi1 .teaser_pagename a.active {
}

.tx-ketroubletickets-pi1 td .teaser_pagename {
	color : #bbbbbb;
	font-family : monospace;
	font-size : 10px;
}

.tx-ketroubletickets-pi1 .error  {
	color: red;
}
