/*------------------------------------------------------------------------------------------------------*/
/*** TICKETS - TROUBLE TICKET SYSTEM  */
/*------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------*/
/*** default Settings */
/*------------------------------------------------------------------------------------------------------*/

.tx-ketroubletickets-pi1 * {
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: Verdana;
  }
.tx-ketroubletickets-pi1 a { 
  text-decoration: none;
  color: #000000;
  }
.tx-ketroubletickets-pi1 a:hover { 
  text-decoration: none;
  color: #4D87C7;
  }
.kett_float_left { 
  float: left; 
  }
.kett_float_right { 
  float: right; 
  }
.kett_float_clean { 
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  }

.tx-ketroubletickets-pi1 img { border: 0;}

.tx-ketroubletickets-pi1 .error {
	border:1px solid red;
	background:yellow;
	color:black;
	margin:5px;
	padding:5px;
}
.tx-ketroubletickets-pi1 .deleteFile {
	display:block;
	float:left;
	width:20px;
}

/*------------------------------------------------------------------------------------------------------*/
/*** SINGLEVIEW */
/*------------------------------------------------------------------------------------------------------*/

.kett_singleview_toolbar {
  width: auto;
  height: 52px;
  overflow: hidden;
  /*padding: 10px;*/
  margin: 0 0 5px 0;
  background: #dadada url(../images/css_gradient2.gif) top left repeat-x;
  border: 1px solid #353535;
  }

.kett_svt_headline {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px 6px 10px;
  }

.kett_svt_navigation {
  padding: 0px 10px 0px 10px;
  font-size: 11px;
  line-height: 15px;
  }
.kett_svt_navigation input {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  }
.kett_svt_navigation a,
.kett_svt_navigation img { 
  float: left;
  }
.kett_svt_navigation img { 
  margin: 0 4px 0 0 ;
  }
.kett_svt_navborder {
  display: block;
  float: left;
  color: #f2f2f2;
  }

/* VIEW */

.kett_singleview { 
  border:1px solid #353535;
  }
.kett_sv_head {
  height: 54px;
  margin: 0 0 1px 0;
  background:#FFFFFF url(../images/single_item_head_bg_normal.gif) repeat scroll 0 0;
  }
.kett_sv_head_title {
  padding: 8px 0 0 10px;
  }
.kett_sv_head_title label {
  font-weight: bold;
  font-size: 12px;
  margin: 0 6px 0 0;
  }
.kett_sv_head_title input {
  background: #fff7de;
  border: 1px solid #d7b85c;
  padding: 2px;
  width: 90%;
  font-size: 12px;
  }

.kett_sv_head_info {
  padding: 5px 0 0 10px;
  font-size: 11px;
  }
.kett_sv_head_info label {
  font-weight: bold;
  }

.kett_sv_boxes { overflow:hidden; }
.kett_sv_single_box {
  float: left;
  width: 33.31%;
  }
.kett_sv_sbox_head {
  background:#FFFFFF url(../images/list_item_userhead_bg_norma.gif) repeat scroll 0 0;
  color:#1B1C1C;
  font-size:11px;
  font-weight:bold;
  height:19px;
  line-height:19px;
  padding:0 10px;
  border-right:1px solid white;
  }
.kett_sv_sbox_body {
  height: 30px; 
  background:#E6EFEF none repeat scroll 0 0;
  border-bottom:1px solid white;
  border-right:1px solid white;
  font-size:11px;
  }
.kett_sv_sboxb_in{
  padding:3px 6px 6px 10px;
  }

.kett_sv_sboxb_in * { float: left;}
.kett_sv_sboxb_in select,
.kett_sv_sboxb_in select option{ float: none;}

.kett_sv_single_box_intern .kett_sv_sbox_head {
  color: #000000;
  background:#bde3f8 url(../images/list_item_userhead_bg_inter.gif) repeat scroll 0 0;
  }
.kett_sv_single_box_intern .kett_sv_sbox_body .kett_sv_sboxb_in {
  font-size: 10px;
  }
.kett_sv_single_box_intern .kett_sv_sbox_body {
  background: #bde3f8;
  }


.kett_sv_desc_head {
  background:#FFFFFF url(../images/list_item_userhead_bg_norma.gif) repeat scroll 0 0;
  color:#1B1C1C;
  font-size:11px;
  font-weight:bold;
  height:19px;
  line-height:19px;
  padding:0 10px;
  }
.kett_sv_desc_body {
  background:#E6EFEF none repeat scroll 0 0;
  border-bottom:1px solid white;
  border-right:1px solid white;
  font-size:11px;
  padding:3px 6px 6px 10px;
  }

.kett_sv_intern .kett_sv_desc_head{
  background:#bde3f8 url(../images/list_item_userhead_bg_inter.gif) repeat scroll 0 0;
  }
.kett_sv_intern .kett_sv_desc_body{
  padding: 5px 10px 5px 10px;
  background: #bde3f8;
  border-right: 0px;
  }


/* Kommentare */
.kett_sv_box1 .kett_svbox1_head {
  background:#FFFFFF url(../images/css_gradient3.gif) repeat scroll 0 0;
  height:35px;
  line-height:35px;
  padding:0 10px;
  color:#011737;
  font-size:12px;
  font-weight:bold;
  }
.kett_sv_box1 .kett_svbox1_body {
  background:#fff7cc none repeat scroll 0 0;
  border-bottom:1px solid white;
  font-size:11px;
  padding:3px 6px 6px 10px;
  }

/* History */
.kett_sv_box2 .kett_svbox2_head {
  background:#FFFFFF url(../images/css_gradient4.gif) repeat scroll 0 0;
  height:35px;
  line-height:35px;
  padding:0 10px;
  color:#011737;
  font-size:12px;
  font-weight:bold;
  }
.kett_sv_box2 .kett_svbox2_body {
  background:#e1eaf8 none repeat scroll 0 0;
  border-bottom:1px solid white;
  font-size:11px;
  padding:3px 6px 6px 10px;
  }

/* TEASERVIEW */
.kett_teaserview_own {
  border-collapse:separate;
  width: 100%;
  margin-bottom: 20px;
}

.kett_teaserview_own td { padding: 3px; }

.kett_teaserview_own .kett_tw_head {
 background:#D6D6D6;
 font-weight: bold;
}

.kett_teaserview_own .kett_tw_body {
  background: #F2F2F2;
}




/*------------------------------------------------------------------------------------------------------*/
/*** LISTVIEW-TOOLBAR */
/*------------------------------------------------------------------------------------------------------*/

/* default container */
.kett_listview_toolbar {
  width: auto;
  padding: 5px 5px 4px 5px;
  margin: 0 0 5px 0;
  background: #dadada url(../images/css_gradient1.gif) top left repeat-x;
  border: 1px solid #353535;
  overflow: hidden;
  }

/* new ticket */
.kett_toolbar_new_ticket {
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  }
.kett_toolbar_new_ticket img {
  float: left;
  margin: 0 5px 0 0;
  }

/* searchbox */
.tx-ketroubletickets-pi1-searchbox-sword {
  float: left;
  height: 16px;
  width: 125px;
  margin: 0 3px 0 0;
  background: #f3f3f3;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  }
.tx-ketroubletickets-pi1-searchbox-sword:focus, 
.tx-ketroubletickets-pi1-searchbox-sword:hover,
.tx-ketroubletickets-pi1-searchbox-sword:active { 
  background: #fff5d1; 
  }
.tx-ketroubletickets-pi1-searchbox-button {
  float: left;
  height: 18px;
  padding: 0px 2px 0px 2px;
  background: #eff4f4;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  font-weight: bold;
  }

/* modeselector */
.kett_toolbar_modeselector label{
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  line-height: 16px;
  }
.tx-ketroubletickets-pi1-modeSelector { 
  float: left;
  font-size: 11px;
  padding: 0 0 0 5px;
  line-height: 16px;
  }
.tx-ketroubletickets-pi1-modeSelector span {
  float: left;
  display: block;
  margin: 0 10px 0 0;
  padding: 0 0 0 0;
  }
.tx-ketroubletickets-pi1-modeSelector .tx-ketroubletickets-pi1-modeSelector-SCell {
    background: transparent url(../images/icon_sort_active.gif) left center no-repeat;
    padding: 0 0 0 11px;
  }

/* filter selector */
.kett_toolbar_filter label {
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  padding: 0 5px 0 0;
  line-height: 16px;
  }
.kett_toolbar_filter select {   
  float: left;
  height: 18px;
  width: auto;
  margin: 0 5px 0 0;
  background: #f3f3f3;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  }
.kett_toolbar_filter input {
  float: left;
  height: 18px;
  padding: 0px 2px 0px 2px;
  background: #eff4f4;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  font-weight: bold;
  }
.kett_toolbar_filter select:focus,
.kett_toolbar_filter select:hover,
.kett_toolbar_filter select:active { background: #fff5d1; }

.kett_toolbar_filter select {width: 140px;}
.kett_toolbar_filter select.select_short {width: 75px;}
.kett_toolbar_filter select option {width: auto; overflow: visible;}

/* sorting */
.kett_toolbar_sort { line-height: 16px; font-size: 11px; }
.kett_toolbar_sort label {
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  padding: 0 5px 0 0;
  line-height: 16px;
  }

.kett_toolbar_sort .kett_tbs_border{ 
  display: block;
  float:left; 
  }
.kett_toolbar_sort a{ 
  display: block;
  float: left;
  }
.kett_toolbar_sort .sort_active_desc a {
  background: transparent url(../images/icon_arrow_down.gif) right center no-repeat;
  padding: 0 13px 0 0;
  }
.kett_toolbar_sort .sort_active_asc a {
  background: transparent url(../images/icon_arrow_up.gif) right center no-repeat;
  padding: 0 13px 0 0;
  }

/* CSV export */
.kett_toolbar_csv {
  position: relative;
  margin: -1px 0 -1px 0;
  background: #f0f0f0;
  border: 1px solid #bec7c7;
  font-size: 11px;
  line-height: 15px;
  padding: 1px 3px 0px 1px;
  }
.kett_toolbar_csv:focus,
.kett_toolbar_csv:hover,
.kett_toolbar_csv:active { 
  background: #fff5d1; 
  }
.kett_toolbar_csv img { 
  margin: 0 3px 0 0;
  float: left;
  }

/* Listview Pagebrowser */
.tx-ketroubletickets-pi1-browsebox {
  background:#DADADA url(../images/css_gradient1.gif) repeat-x scroll left top;
  border:1px solid #353535;
  margin:0 0 5px;
  overflow:hidden;
  padding:5px 5px 4px;
  width:auto;
  font-size: 11px;
  line-height: 18px;
  }
.tx-ketroubletickets-pi1-browsebox .resultText {
  float: left;
  width: 200px;
  display: block;
  line-height: 18px;
  }
.tx-ketroubletickets-pi1-browsebox .browseLinks {
  float: right;
}
.tx-ketroubletickets-pi1-browsebox .browseLinks span.tx-ketroubletickets-pi1-browsebox-SCell a {
  font-weight: bold;
}


/*------------------------------------------------------------------------------------------------------*/
/*** LISTVIEW CLIENTVIEW */
/*------------------------------------------------------------------------------------------------------*/
.kett_listview_row {
  width: auto;
  border: 1px solid #333333;
  margin: 0 0 5px 0;
  overflow:hidden;
  }
.kett_listview_row_head {
  height:43px;
  margin: 0 0 1px 0;
  background:#FFFFFF url(../images/list_item_head_bg_normal.gif) repeat scroll 0 0;
  line-height: 16px;
  font-size: 12px;
  
  }
.kett_listview_row_statusicon {
  float: left;
  height:30px;
  padding: 10px 6px 0px 6px;
  }
.kett_lvrow_headline_top {
  padding: 5px 0 0 0;
  }
.kett_lvrow_headline_title {
  font-weight: bold;
  }

.kett_listview_row_body {
  height: 69px;
  background: #FFFFFF url(../images/list_item_subt_bg_normal.gif) repeat scroll 0 0;
  margin: 0 0 1px 0;
  }
.kett_listview_row_subt {
  font-size: 10px;
  margin-right: 180px;
  padding: 5px 0 0 6px;
  }
.kett_listview_row_box {
  float:right;
  height:61px;
  background:#EEF3F3;
  border:1px solid #C1D1D1;
  margin: 4px 4px 0 0;
  width:165px;
  }
.kett_lvrow_box_l {
  float: left;
  width: 70px;
  font-size: 9px;
  line-height: 14px;
  margin: 0 0 0 4px;
  }
.kett_lvrow_box_r {
  font-size: 9px;
  font-weight: bold;
  line-height: 14px;
  }

.kett_listview_row_user { margin: 0 0 1px 0;}
.kett_listview_row_user table {
  margin:0;
  padding: 0;
  width: 100%;
  border-collapse:collapse;
  }
.kett_listview_row_user table td {
  width: 33.33%;
  border-right: 1px solid white;
  }

.kett_listview_row_user .kett_lvrow_user_head, .kett_listview_row_user .kett_lvrow_user_head_last {
  height: 19px;
  padding: 0 5px 0 5px;
  background:#FFFFFF url(../images/list_item_userhead_bg_norma.gif) repeat scroll 0 0;
  line-height: 19px;
  font-size: 11px;
  font-weight: bold;
  color: #1b1c1c;
  }
.kett_listview_row_user .kett_lvrow_user_head_last {
  border-right: 0px solid white;
  }

.kett_listview_row_user .kett_lvrow_user_con {
  height:35px;
  background: #D6E1E1;
  }
.kett_listview_row_user .kett_lvrow_user_con .kett_lvrow_user_inner {
  height:26px;
  overflow-y:scroll;
  padding:4px 4px 4px 6px;
  font-size: 12px;
  }

.kett_listview_row_foot {
  height: 27px;
  background:#FFFFFF url(../images/list_item_foot_bg_normal.gif) repeat scroll 0 0;
  line-height: 26px;
  font-size: 11px;
  }

.kett_listview_row_foot .kett_float_left {
  padding: 0 0 0 5px;
  }
.kett_listview_row_foot .kett_lvrf_border {
  font-size:9px;
  color: #abc1c1;
  }
.tx-ketroubletickets-pi1 .due_is_overdue {
  border: 1px solid red;
  background: #e00505;
  color: white;
  }
.kett_listview_row_foot .kett_float_right {
  padding: 0 ;
  line-height: 1px;
  }
.kett_listview_row_foot .kett_float_right img {
  margin: 5px 6px 0 0 ;
  line-height: 0;
  }
.kett_listview_row_foot .kett_float_left img { 
  display: inline;
  }

/* ALIEN fremde Tickets */

.current_row_is_not_own_task .kett_listview_row_head {
  background: #FFFFFF url(../images/list_item_head_bg_alien.gif) repeat scroll 0 0;
  }
.current_row_is_not_own_task .kett_listview_row_body { 
  background: #FFFFFF url(../images/list_item_subt_bg_alien.gif) repeat scroll 0 0; 
  }
.current_row_is_not_own_task .kett_listview_row_body .kett_listview_row_box {
  background:#f4f4f4 none repeat scroll 0 0;
  border:1px solid #cccccc;
  }
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_head,
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_head_last {
  background: #FFFFFF url(../images/list_item_userhead_bg_alien.gif) repeat scroll 0 0;
  }
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_con {
  background: #e4e4e4;
  }
.current_row_is_not_own_task .kett_listview_row_foot { 
  background: #FFFFFF url(../images/list_item_foot_bg_alien.gif) repeat scroll 0 0; 
  }

/* Speichern */
.kett_sv_save {
  background: #EFEFEF url(../images/css_gradient5.gif) repeat scroll 0 0;
  height: 25px;
  margin: 0 0 1px 0;
  }
.kett_sv_save .kett_sv_save_in {
  float: right; 
  padding: 0 10px 0 0;
  }
.kett_sv_save .kett_sv_save_in input {
  background:transparent url(../images/icon_disk.png) top right no-repeat;
  height: 16px;
  line-height: 16px;
  border:0 none;
  cursor:pointer;
  margin:4px 2px 2px 0;
  width: 150px;
  padding:0px 20px 10px 0;
  float: left;
  font-size: 11px;
  font-weight: bold;
  }
.kett_sv_save .kett_sv_save_in img {
  margin: 3px 0 0 0;
  float: left;
  }

/* History */
.tx-ketroubletickets-pi1 .ticket_history { 
  border:0px solid #ccc; 
  width: 100%;
  }
.tx-ketroubletickets-pi1 .ticket_history td {
  vertical-align:top; 
  padding:3px; 
  border-bottom:1px solid #ccc; 
  border-top:1px solid #ccc; 
  border:1px solid #ccc; 
  font-size:10px;
  }
.tx-ketroubletickets-pi1 .ticket_history .headline { 
  background:#EBEBEB; 
  color:#000; 
  font-size:11px; 
  font-weight:bold; 
  vertical-align:middle;
  }



