/*------------------------------------------------------------------------------------------------------*/
/*** TICKETS - TROUBLE TICKET SYSTEM  */
/*------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------*/
/*** default Settings */
/*------------------------------------------------------------------------------------------------------*/

.tx-ketroubletickets-pi1 * {
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: Verdana;
  font-size:12px;
  }
.tx-ketroubletickets-pi1 a {
  text-decoration: none;
  color: #000000;
  }
.tx-ketroubletickets-pi1 a:hover {
  text-decoration: none;
  color: #4D87C7;
  }
.kett_float_left {
  float: left;
  }
.kett_float_right {
  float: right;
  }
.kett_float_clean {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  }

.tx-ketroubletickets-pi1 img { border: 0;}

.tx-ketroubletickets-pi1 .error {
	font-size:12px;
	border:1px solid red;
	background:yellow;
	color:black;
	margin:5px 0px 5px 0px;
	padding:5px;
}
.tx-ketroubletickets-pi1 .deleteFile {
	display:block;
	float:left;
	width:20px;
}

.tx-ketroubletickets-pi1 .priority_0 {
	font-size: 9px;
}

.tx-ketroubletickets-pi1 .priority_1 {
	font-size: 9px;
}

.tx-ketroubletickets-pi1 .priority_2 {
	font-size: 9px;
	color:#ffcc00;
}

.tx-ketroubletickets-pi1 .priority_3 {
	font-size: 9px;
	color:red;
}

.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_0 a,
.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_1 a,
.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_2 a,
.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_3 a,
.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_0,
.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_1,
.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_2,
.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_3 {
	color:black;
	font-size: 10px;
}

.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_3 a {
	color:red;
}

.tx-ketroubletickets-pi1 .kett_teaserview_own_short .priority_1 a {
	color:#888888;
}

/*------------------------------------------------------------------------------------------------------*/
/*** SINGLEVIEW */
/*------------------------------------------------------------------------------------------------------*/


.tx-ketroubletickets-pi1 .comment_author {
  font-size:10px;
  font-style:italic;
}

.kett_singleview_toolbar {
  width: auto;
  height: 52px;
  overflow: hidden;
  /*padding: 10px;*/
  margin: 0 0 5px 0;
  background: #dadada url(../images/css_gradient2.gif) top left repeat-x;
  border: 1px solid #353535;
  }

.kett_svt_headline {
  font-size: 12px;
  font-weight: bold;
  float:left;
  padding: 10px 10px 6px 10px;
  }

.kett_svt_navigation {
  padding: 0px 10px 0px 10px;
  font-size: 11px;
  line-height: 15px;
  }
.kett_svt_navigation input {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  }
.kett_svt_navigation a,
.kett_svt_navigation img {
  float: left;
  }
.kett_svt_navigation a{
  margin:0 2px;
  }
.kett_svt_navigation img {
  margin: 0 4px 0 0 ;
  }
.kett_svt_navborder {
  display: block;
  float: left;
  color: #f2f2f2;
  }

/* VIEW */

.kett_singleview {
  border:1px solid #353535;
  }
.kett_sv_head {
  height: 54px;
  margin: 0 0 1px 0;
  background:#FFFFFF url(../images/single_item_head_bg_normal.gif) repeat scroll 0 0;
  }
.kett_sv_head_title {
  padding: 8px 0 0 10px;
  }
.kett_sv_head_title label {
  font-weight: bold;
  font-size: 12px;
  margin: 0 6px 0 0;
  }
.kett_sv_head_title input {
  background: #fff7de;
  border: 1px solid #d7b85c;
  padding: 2px;
  width: 90%;
  font-size: 12px;
  }

.kett_sv_head_info {
  padding: 5px 0 0 10px;
  font-size: 11px;
  }
.kett_sv_head_info label {
  font-weight: bold;
  }

.tx-ketroubletickets-pi1 .followuplink a {
  display:block;
  float:right;
  font-size:12px;
  margin:6px 11px 0 0;
  padding:2px 2px 2px 20px;
  text-align:right;
  background:transparent url("../images/icon_new_ticket.png") left 1px no-repeat;
}


.kett_sv_boxes { 
	overflow:hidden;
	background:#E6EFEF none repeat scroll 0 0;
}
.kett_sv_single_box {
  float: left;
  /*width: 33.31%;*/
  width: 25%;
  }
.kett_sv_sbox_head {
  background:#FFFFFF url(../images/list_item_userhead_bg_norma.gif) repeat scroll 0 0;
  color:#1B1C1C;
  font-size:11px;
  font-weight:bold;
  height:19px;
  line-height:19px;
  padding:0 10px;
  border-right:1px solid white;
  }
.kett_sv_sbox_body {
  height: 30px;
  background:#E6EFEF none repeat scroll 0 0;
  border-bottom:1px solid white;
  border-right:1px solid white;
  font-size:11px;
  }
.kett_sv_sboxb_in{
  padding:3px 6px 6px 10px;
  }

.kett_sv_sboxb_in * { float: left;}
.kett_sv_sboxb_in select,
.kett_sv_sboxb_in select option{ float: none;}

.kett_sv_single_box_intern .kett_sv_sbox_head {
  color: #000000;
  background:#bde3f8 url(../images/list_item_userhead_bg_inter.gif) repeat scroll 0 0;
  }
.kett_sv_single_box_intern .kett_sv_sbox_body .kett_sv_sboxb_in {
  font-size: 10px;
  }
.kett_sv_single_box_intern .kett_sv_sbox_body {
  background: #bde3f8;
  }


.kett_sv_desc_head {
  background:#FFFFFF url(../images/list_item_userhead_bg_norma.gif) repeat scroll 0 0;
  color:#1B1C1C;
  font-size:11px;
  font-weight:bold;
  height:19px;
  line-height:19px;
  padding:0 10px;
  }
.kett_sv_desc_body {
  background:#E6EFEF none repeat scroll 0 0;
  border-bottom:1px solid white;
  border-right:1px solid white;
  font-size:11px;
  padding:3px 6px 6px 10px;
  }

.kett_sv_intern .kett_sv_desc_head{
  background:#bde3f8 url(../images/list_item_userhead_bg_inter.gif) repeat scroll 0 0;
  }
.kett_sv_intern .kett_sv_desc_body{
  padding: 5px 10px 5px 10px;
  background: #bde3f8;
  border-right: 0px;
  }
  
	.tx-ketroubletickets-pi1 .kett_singleview .todo_status {
		font-family: "Lucida Console", Monaco, monospace;
	}


/* Kommentare */
.kett_sv_box1 .kett_svbox1_head {
  background:#FFFFFF url(../images/css_gradient3.gif) repeat scroll 0 0;
  height:35px;
  line-height:35px;
  padding:0 10px;
  color:#011737;
  font-size:12px;
  font-weight:bold;
  }
.kett_sv_box1 .kett_svbox1_body {
  background:#fff7cc none repeat scroll 0 0;
  border-bottom:1px solid white;
  font-size:11px;
  padding:3px 6px 6px 10px;
  }
.kett_label_newcom{
  border-top:1px dotted black;
  font-size:11px;
  font-weight:bold;
  margin:10px 0 0;
  padding:5px 0;
}

/* History */
.kett_sv_box2 .kett_svbox2_head {
  background:#FFFFFF url(../images/css_gradient4.gif) repeat scroll 0 0;
  height:35px;
  line-height:35px;
  padding:0 10px;
  color:#011737;
  font-size:12px;
  font-weight:bold;
  }
.kett_sv_box2 .kett_svbox2_body {
  background:#e1eaf8 none repeat scroll 0 0;
  border-bottom:1px solid white;
  font-size:11px;
  padding:3px 6px 6px 10px;
  }

/* TEASERVIEW */
.kett_teaserview_own {
  background:#989898;
  border-collapse:separate;
  width: 100%;
  margin-bottom: 20px;
}
.kett_teaserview_own td { padding: 4px; }
.kett_teaserview_own .kett_tw_head {
 background:url("../images/css_gradient1.gif") repeat-x scroll left top #DADADA;
 font-size:11px;
 font-weight: bold;
}
.kett_teaserview_own .kett_tw_body {
  background: #F2F2F2;
}

/*------------------------------------------------------------------------------------------------------*/
/*** LISTVIEW-TOOLBAR */
/*------------------------------------------------------------------------------------------------------*/

/* default container */
.kett_listview_toolbar {
  width: auto;
  padding: 5px 5px 4px 5px;
  margin: 0 0 5px 0;
  background: #dadada url(../images/css_gradient1.gif) top left repeat-x;
  border: 1px solid #353535;
  overflow: hidden;
  }

/* new ticket */
.kett_toolbar_new_ticket {
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  }
.kett_toolbar_new_ticket img {
  float: left;
  margin: 0 5px 0 0;
  }

.tx-ketroubletickets-pi1 .viewtype_selector {
}

/* searchbox */
.tx-ketroubletickets-pi1-searchbox-sword {
  float: left;
  height: 16px;
  width: 131px;
  margin: 0 3px 0 0;
  background: #f3f3f3;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  }
.tx-ketroubletickets-pi1-searchbox-sword:focus,
.tx-ketroubletickets-pi1-searchbox-sword:hover,
.tx-ketroubletickets-pi1-searchbox-sword:active {
  background: #fff5d1;
  }
.tx-ketroubletickets-pi1-searchbox-button {
  float: left;
  height: 18px;
  padding: 0px 2px 0px 2px;
  background: #eff4f4;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  font-weight: bold;
  }

/* modeselector */
.kett_toolbar_modeselector label{
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  line-height: 16px;
  }
.tx-ketroubletickets-pi1-modeSelector {
  float: left;
  font-size: 11px;
  padding: 0 0 0 5px;
  line-height: 16px;
  }
.tx-ketroubletickets-pi1-modeSelector span {
  float: left;
  display: block;
  margin: 0 10px 0 0;
  padding: 0 0 0 0;
  }
.tx-ketroubletickets-pi1-modeSelector .tx-ketroubletickets-pi1-modeSelector-SCell {
    background: transparent url(../images/icon_sort_active.gif) left center no-repeat;
    padding: 0 0 0 11px;
  }

/* filter selector */
.kett_toolbar_filter label {
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0 5px 0 0;
  line-height: 16px;
  }
.kett_toolbar_filter select {
  float: left;
  height: 18px;
  width: auto;
  margin: 0 5px 0 0;
  background: #f3f3f3;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  }
.kett_toolbar_filter input {
  float: left;
  height: 18px;
  padding: 0px 2px 0px 2px;
  background: #eff4f4;
  border: 1px solid #b7c4c4;
  font-size: 11px;
  font-weight: bold;
  }
.kett_toolbar_filter select:focus,
.kett_toolbar_filter select:hover,
.kett_toolbar_filter select:active { background: #fff5d1; }

.kett_toolbar_filter select {width: 100px;}
.kett_toolbar_filter select.select_short {width: 75px;}
.kett_toolbar_filter select option {width: auto; overflow: visible;}

.kett_toolbar_filter .single_filter {
	float:left;
	padding: 0 6px 0 6px;
	border-right: 1px dashed #666;
	font-size: 12px;
}
.kett_toolbar_filter .last_filter {
	border-right: none;
	padding: 0 0 0 10px;
}
.kett_toolbar_filter .buttons {
	border-right: none;
	margin-top: 6px;
}
.kett_toolbar_filter .buttons input {
	height: 25px;
}
.kett_toolbar_filter .buttons img {
	margin-top: 2px;
}

.kett_toolbar_filter .filter_statusicon {
	margin-left: 5px;
}

/* sorting */
.kett_toolbar_sort { line-height: 16px; font-size: 11px; }
.kett_toolbar_sort label {
  font-size: 11px;
  font-weight: bold;
  float: left;
  display: block;
  padding: 0 5px 0 0;
  line-height: 16px;
  }

.kett_toolbar_sort .kett_tbs_border{
  display: block;
  float:left;
  }
.kett_toolbar_sort a{
  display: block;
  float: left;
  }
.kett_toolbar_sort .sort_active_desc a {
  background: transparent url(../images/icon_arrow_down.gif) right center no-repeat;
  padding: 0 13px 0 0;
  }
.kett_toolbar_sort .sort_active_asc a {
  background: transparent url(../images/icon_arrow_up.gif) right center no-repeat;
  padding: 0 13px 0 0;
  }

/* CSV export */
.kett_toolbar_csv {
  position: relative;
  margin: -1px 0 -1px 0;
  background: #f0f0f0;
  border: 1px solid #bec7c7;
  font-size: 11px;
  line-height: 15px;
  padding: 1px 3px 0px 1px;
  }
.kett_toolbar_csv .kett_float_clean {
	width: 1px;
}
.kett_toolbar_csv:focus,
.kett_toolbar_csv:hover,
.kett_toolbar_csv:active {
  background: #fff5d1;
  }
.kett_toolbar_csv img {
	position: relative;
  margin: 0 3px 0 0;
  float: left;
  }

/* Entries per page select */
.kett_entries_per_page {
	font-size: 11px;
	line-height:18px;
	float: left;
	padding: 0 0 0 11px;
	margin: 0 0 0 11px;
	border-left: 1px dashed #8F8F8F;
}
.kett_entries_per_page label{
	float: left;
}
.kett_entries_per_page form{
	float: left;
	padding: 0 0 0 4px;
}

/* Listview Pagebrowser */
.tx-ketroubletickets-pi1-browsebox {
  background:#DADADA url(../images/css_gradient1.gif) repeat-x scroll left top;
  border:1px solid #353535;
  margin:0 0 5px;
  overflow:hidden;
  padding:5px 5px 4px;
  width:auto;
  font-size: 11px;
  line-height: 18px;
  }
.tx-ketroubletickets-pi1-browsebox .resultText {
  float: left;
  /* width: 200px; */
  display: block;
  line-height: 18px;
  }
.tx-ketroubletickets-pi1-browsebox .browseLinks {
  float: right;
}
.tx-ketroubletickets-pi1-browsebox .browseLinks span.tx-ketroubletickets-pi1-browsebox-SCell a {
  font-weight: bold;
}


/*------------------------------------------------------------------------------------------------------*/
/*** LISTVIEW CLIENTVIEW */
/*------------------------------------------------------------------------------------------------------*/
.kett_listview_row {
  width: auto;
  border: 1px solid #333333;
  margin: 0 0 5px 0;
  overflow:hidden;
  }
.kett_listview_row_head {
  height:43px;
  margin: 0 0 1px 0;
  background:#FFFFFF url(../images/list_item_head_bg_normal.gif) repeat scroll 0 0;
  line-height: 16px;
  font-size: 12px;

  }
.kett_listview_row_statusicon {
  float: left;
  height:30px;
  padding: 10px 6px 0px 6px;
  }

  
.kett_listview_row_headline {
	/* width: 75%; */
	float: left;
}
 
.kett_listview_row_progress {
	float: right;
	width: 100px;
	min-width: 100px;
	padding-top: 5px;
	text-align: center !important;
}
  
.kett_lvrow_headline_top {
	padding: 5px 0 0 0;
}
.kett_lvrow_headline_title {
	font-weight: bold;
}
	
	.kett_lvrow_progress_outer {
		width: 50px; 
		border: 1px solid #666; 
		display:inline-block; 
		padding: 1px;
		text-align: left;
		line-height: 1px;
		fonst-size: 1px;
	}
	
	.kett_lvrow_progress_inner {
		height: 5px;
		display:inline-block;
		background: #33c92f;
	}
	
	.kett_lvrow_progress_percent {
		display: inline-block;
		vertical-align: top;
		margin-top: 3px;
	}
	
	

.kett_listview_row_body {
  height: 69px;
  background: #FFFFFF url(../images/list_item_subt_bg_normal.gif) repeat scroll 0 0;
  margin: 0 0 1px 0;
  }
.kett_listview_row_subt {
  font-size: 10px;
  margin-right: 180px;
  padding: 5px 0 0 6px;
  }
.kett_listview_row_box {
  float:right;
  height:61px;
  background:#EEF3F3;
  border:1px solid #C1D1D1;
  margin: 4px 4px 0 0;
  width:165px;
  overflow-y:auto;
  }
.kett_lvrow_box_l {
  float: left;
  width: 80px;
  font-size: 9px;
  line-height: 14px;
  margin: 0 0 0 4px;
  }
.kett_lvrow_box_r {
  font-size: 9px;
  font-weight: bold;
  line-height: 14px;
  }

.kett_listview_row_user { margin: 0 0 1px 0;}
.kett_listview_row_user table {
  margin:0;
  padding: 0;
  width: 100%;
  border-collapse:collapse;
  }
.kett_listview_row_user table td {
  width: 33.33%;
  border-right: 1px solid white;
  }

.kett_listview_row_user .kett_lvrow_user_head, .kett_listview_row_user .kett_lvrow_user_head_last {
  height: 19px;
  padding: 0 5px 0 5px;
  background:#FFFFFF url(../images/list_item_userhead_bg_norma.gif) repeat scroll 0 0;
  line-height: 19px;
  font-size: 11px;
  font-weight: bold;
  color: #1b1c1c;
  }
.kett_listview_row_user .kett_lvrow_user_head_last {
  border-right: 0px solid white;
  }

.kett_listview_row_user .kett_lvrow_user_con {
  height:35px;
  background: #D6E1E1;
  }
.kett_listview_row_user .kett_lvrow_user_con .kett_lvrow_user_inner {
  height:26px;
  overflow-y:scroll;
  padding:4px 4px 4px 6px;
  font-size: 12px;
  }

.kett_listview_row_foot {
  height: 27px;
  background:#FFFFFF url(../images/list_item_foot_bg_normal.gif) repeat scroll 0 0;
  line-height: 26px;
  font-size: 11px;
  }

.kett_listview_row_foot .kett_float_left {
  padding: 0 0 0 5px;
  }
.kett_listview_row_foot .kett_lvrf_border {
  font-size:9px;
  color: #abc1c1;
  }
.tx-ketroubletickets-pi1 .due_is_overdue {
  border: 1px solid red;
  background: #e00505;
  color: white;
  }
.kett_listview_row_foot .kett_float_right {
  padding: 0 ;
  line-height: 1px;
  }
.kett_listview_row_foot .kett_float_right img {
  margin: 5px 6px 0 0 ;
  line-height: 0;
  }
.kett_listview_row_foot .kett_float_left img {
  display: inline;
  }

/* ALIEN fremde Tickets */

.current_row_is_not_own_task .kett_listview_row_head {
  background: #FFFFFF url(../images/list_item_head_bg_alien.gif) repeat scroll 0 0;
  }
.current_row_is_not_own_task .kett_listview_row_body {
  background: #FFFFFF url(../images/list_item_subt_bg_alien.gif) repeat scroll 0 0;
  }
.current_row_is_not_own_task .kett_listview_row_body .kett_listview_row_box {
  background:#f4f4f4 none repeat scroll 0 0;
  border:1px solid #cccccc;
  }
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_head,
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_head_last {
  background: #FFFFFF url(../images/list_item_userhead_bg_alien.gif) repeat scroll 0 0;
  }
.current_row_is_not_own_task .kett_listview_row_user .kett_lvrow_user_con {
  background: #e4e4e4;
  }
.current_row_is_not_own_task .kett_listview_row_foot {
  background: #FFFFFF url(../images/list_item_foot_bg_alien.gif) repeat scroll 0 0;
  }

/* for short view */
.kett_listviewshort tr.kett_listview_row {
	background: #E6EFEF;
}
.kett_listviewshort tr.current_row_is_not_own_task {
	background: #F2F2F2;
}

.kett_listviewshort tr.kett_listview_row .kett_tw_body {
  background: none;
}

.kett_listviewshort .kett_listview_row_progress {
	float: none;
	width: 150px;
	min-width: 150px;
	text-align: left !important;
}
.kett_listviewshort .kett_lvrow_progress_outer {
	vertical-align: middle;
	margin-right: 5px;
}

/* Save */
.kett_sv_save {
  background: #EFEFEF url(../images/css_gradient5.gif) repeat scroll 0 0;
  height: 25px;
  margin: 0 0 1px 0;
  }
.kett_sv_save .kett_sv_save_in {
  float: right;
  padding: 0 10px 0 0;
  }
.kett_sv_save .kett_sv_save_in input {
  background:transparent url(../images/icon_disk.png) top right no-repeat;
  height: 16px;
  line-height: 16px;
  border:0 none;
  cursor:pointer;
  margin:4px 2px 2px 0;
  width: 150px;
  padding:0px 20px 10px 0;
  float: left;
  font-size: 11px;
  font-weight: bold;
  }
.kett_sv_save .kett_sv_save_in img {
  margin: 3px 0 0 0;
  float: left;
  }

/* History */
.tx-ketroubletickets-pi1 .ticket_history {
  border:0px solid #ccc;
  width: 100%;
  }
.tx-ketroubletickets-pi1 .ticket_history td {
  vertical-align:top;
  padding:3px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
  border:1px solid #ccc;
  font-size:10px;
  }
.tx-ketroubletickets-pi1 .ticket_history .headline {
  background:#EBEBEB;
  color:#000;
  font-size:11px;
  font-weight:bold;
  vertical-align:middle;
  }


/* Status message after saving */
.tx-ketroubletickets-pi1 .kett_status  {
	padding: 5px;
	font-weight: bold;
	margin: 0 0 5px;
	font-size: 12px;
}
.tx-ketroubletickets-pi1  .status_ok {
	background: #A2EF68;
	border: 1px solid #025600;
	background: #33c92f url(../images/status_message_bgr.gif) top left repeat-x;
}



/* Printview */
.tx-ketroubletickets-pi1 .kett_printview {
	font-size: 12px;
	margin-top: 30px;
}
.tx-ketroubletickets-pi1  .kett_printview .printview_header {
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 5px;
}
.tx-ketroubletickets-pi1  .kett_printview .label {
	font-weight: bold;
}
.tx-ketroubletickets-pi1  .kett_printview .printview_block  {
	padding: 3px;
	margin: 20px 0 20px 0;
	border:1px solid #cecece;
}
.tx-ketroubletickets-pi1  .kett_printview .printview_floatblock  {
	border: 1px solid #cecece;
	width: 30%;
	float:left;
	padding: 3px;
	margin: 3px;
}
.tx-ketroubletickets-pi1  .kett_printview  label {
	font-weight: bold;
	display:block;
}

.tx-ketroubletickets-pi1 .kett_printview .todo_status {
	font-family: "Lucida Console", Monaco, monospace;
}

/* date2cal */
.tx-ketroubletickets-pi1 .date2cal_img_help,
.tx-ketroubletickets-pi1 .success {
	display:none;
}





/* PROGRESS BAR */
.tx-ketroubletickets-pi1 #kett_sv_progress_outer {
	width: 70%; 
	border: 1px solid #666; 
	display:inline-box; 
	padding: 1px;
}
.tx-ketroubletickets-pi1 #kett_sv_progress {
	width: 0%; 
	height: 18px;
	display:inline-block;
}

/* red progress bar */
.tx-ketroubletickets-pi1 .redBar {
	background: #c90407; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/* background: #EACB6B; */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5MDQwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMjAwMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #c90407 0%, #b20002 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c90407), color-stop(100%,#b20002)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #c90407 0%,#b20002 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #c90407 0%,#b20002 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #c90407 0%,#b20002 100%); /* IE10+ */
	background: linear-gradient(to right,  #c90407 0%,#b20002 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90407', endColorstr='#b20002',GradientType=1 ); /* IE6-8 */
}

/* orange progress bar */
.tx-ketroubletickets-pi1 .orangeBar {
	background: #ffe605; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTYwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #ffe605 0%, #ffd000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffe605), color-stop(100%,#ffd000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffe605 0%,#ffd000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffe605 0%,#ffd000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffe605 0%,#ffd000 100%); /* IE10+ */
	background: linear-gradient(to right, #ffe605 0%,#ffd000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe605', endColorstr='#ffd000',GradientType=1 ); /* IE6-8 */
}

/* green progress bar */
.tx-ketroubletickets-pi1 .greenBar {
	background: #afff05; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmZmYwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OWQxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #afff05 0%, #49d100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#afff05), color-stop(100%,#49d100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #afff05 0%,#49d100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #afff05 0%,#49d100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #afff05 0%,#49d100 100%); /* IE10+ */
	background: linear-gradient(to right, #afff05 0%,#49d100 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afff05', endColorstr='#49d100',GradientType=1 ); /* IE6-8 */
}

.tx-ketroubletickets-pi1 #kett_sv_progress_percent {
	margin: 4px 0 0 8px;
}

/* TODO LISTS */
.tx-ketroubletickets-pi1 #addToDo {
	cursor: pointer;
	background: url(../images/icon_add.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.tx-ketroubletickets-pi1 #kett_todo_new {
	height: 22px;
}

.tx-ketroubletickets-pi1 ul#kett_todo_list {
	/* width: 300px; */
	max-width: 610px;
	padding: 5px 5px 5px 5px;
}

.tx-ketroubletickets-pi1 ul#kett_todo_list li{
	clear: both;
	padding: 5px 50px 5px 5px;
	display: block;
}

.tx-ketroubletickets-pi1 ul#kett_todo_list li:hover{
	background: white;
}

.tx-ketroubletickets-pi1 ul#kett_todo_list li input{
	padding-top: 5px;
	float: left;
	padding-right: 30px;
	margin-right: 3px;
}

.tx-ketroubletickets-pi1 ul#kett_todo_list li label {
	float: left;
}

.tx-ketroubletickets-pi1 ul#kett_todo_list li .remove_todo {
	float: right;
	cursor: pointer;
	background: url(../images/icon_delete.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: -20px;
}