<!-- 
***********************************************
New Ticket / Edit Ticket Form / Singleview
***********************************************
-->

<!-- ###TICKET_FORM### START-->

###DATE2CAL_JS###

<form name="###TICKETFORM_NAME###" id="###TICKETFORM_NAME###" action="###TICKETFORM_ACTION###" method="post" enctype="multipart/form-data" onSubmit="###ADDITIONALJS_SUBMIT###">
###ADDITIONALJS_PRE###

<!-- Toolbar -->
<div class="kett_singleview_toolbar">
  <div class="kett_svt_headline">
  ###LABEL_OPEN_NEW_TICKET######LABEL_EDIT_TICKET###
  </div>
  <div class="kett_svt_navigation">
    <img src="typo3conf/ext/ke_troubletickets/res/images/icon_arrow_left.png" />###BACK_TO_LISTVIEW###
    <span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
    <a href="#kett_goto_comments"><img src="typo3conf/ext/ke_troubletickets/res/images/icon_comments.png" />Kommentare</a>
    <span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
    <a href="#kett_goto_files"><img src="typo3conf/ext/ke_troubletickets/res/images/icon_attach.png" />Dateianh&auml;nge</a>
    <span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
    <a href="###CURRENT_URL####zur_history" onClick="document.getElementById('std_tab_grey_body_id').style.display = 'block';"><img src="typo3conf/ext/ke_troubletickets/res/images/icon_history.png" />Verlauf</a>
  </div>
</div>

<!-- Error  -->
###ERRORS### 

<div class="kett_singleview">

  <div class="kett_sv_head">
    <div class="kett_sv_head_title">
      <label>###LABEL_TITLE###</label>###FIELD_TITLE###
    </div>
    <div class="kett_sv_head_info">
      <label>Nr.:</label>&nbsp;###UID###&nbsp;&nbsp;&nbsp;<label>Besitzer:</label>&nbsp;###VALUE_OWNER_FEUSER###&nbsp;&nbsp;###OPTIONAL_CATEGORY###
    </div>
  </div>
  
  <div class="kett_sv_boxes">
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_STATUS###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_STATUS###</div>
      </div>
    </div>
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_BILLING###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_BILLING###</div>
      </div>
    </div>
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_FROM_DATE###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_FROM_DATE###</div>
      </div>
    </div>
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_PRIORITY###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_PRIORITY###</div>
      </div>
    </div>
    ###OPTIONAL_RESPONSIBLE_FEUSER###
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_UNTIL_DATE###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_UNTIL_DATE###</div>
      </div>
    </div>
    
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_EFFORT###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_EFFORT###</div>
      </div>
    </div>
    ###INTERNAL_TIME_PLANNED###
    ###INTERNAL_TIME_USED###
  </div>
  
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_DESCRIPTION###</div>
    <div class="kett_sv_desc_body"><table><tr><td>###FIELD_DESCRIPTION###</td></tr></table></div>
  </div>
  
  <div class="kett_sv_save">
    <div class="kett_sv_save_in">
      ###FIELD_SUBMIT###
    </div>
    <div class="kett_float_clean"></div>
  </div>
  
  ###INTERNAL_ADDITIONAL_INFO###
  
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_FILES###<a name="kett_goto_files">&nbsp;</a></div>
    <div class="kett_sv_desc_body">###FIELD_FILES###</div>
  </div>
  
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_RELATED_TICKETS###</div>
    <div class="kett_sv_desc_body">###FIELD_RELATED_TICKETS###</div>
  </div>
  
  ###OPTIONAL_OBSERVERS_FEUSER###
  ###OPTIONAL_NOTIFICATIONS_OWNER###
  ###OPTIONAL_NOTIFICATIONS_RESPONSIBLE###
  ###OPTIONAL_NOTIFICATIONS_OBSERVER###
  
  ###HIDDEN_FIELDS###
  
  ###OPTIONAL_TICKET_COMMENT###
  
  <div class="kett_sv_save">
    <div class="kett_sv_save_in">
      ###FIELD_SUBMIT###
    </div>
    <div class="kett_float_clean"></div>
  </div>
  
  </form>
  ###ADDITIONALJS_POST###
  ###OPTIONAL_TICKET_HISTORY###
</div>




<!-- ###TICKET_FORM### END-->

<!-- 
***********************************************
Optional Labels and Fields
***********************************************
-->

<!-- ###OPTIONAL_CATEGORY_SUBPART### START-->
  <label>###LABEL_CATEGORY###:</label>&nbsp;###FIELD_CATEGORY###
<!-- ###OPTIONAL_CATEGORY_SUBPART### END-->

<!-- ###OPTIONAL_COMMENT_ROW_SUBPART### START-->
  <div class="commentrow_###COMMENTROW_ODD_EVEN###"> 
  <div style="font-weight:bold; border-top:1px dotted black; border-bottom:1px dotted black; margin:20px 0 10px 0; font-size:10px;">
  ###COMMENT_DATE###, <em>###COMMENT_AUTHOR###</em>
  </div>
  ###COMMENT_CONTENT###
  </div>
<!-- ###OPTIONAL_COMMENT_ROW_SUBPART### END-->

<!-- ###OPTIONAL_RESPONSIBLE_FEUSER_SUBPART### START-->
 <div class="kett_sv_single_box">
    <div class="kett_sv_sbox_head">###LABEL_RESPONSIBLE_FEUSER###</div>
    <div class="kett_sv_sbox_body">
      <div class="kett_sv_sboxb_in">###FIELD_RESPONSIBLE_FEUSER###</div>
    </div>
  </div>
<!-- ###OPTIONAL_RESPONSIBLE_FEUSER_SUBPART### END-->

<!-- ###OPTIONAL_OBSERVERS_FEUSER_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_OBSERVERS_FEUSER###</div>
    <div class="kett_sv_desc_body">###FIELD_OBSERVERS_FEUSER###</div>
  </div>

<!-- ###OPTIONAL_OBSERVERS_FEUSER_SUBPART### END-->

<!-- ###OPTIONAL_NOTIFICATIONS_OWNER_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_NOTIFICATIONS_OWNER###</div>
    <div class="kett_sv_desc_body">###FIELD_NOTIFICATIONS_OWNER###</div>
  </div>
<!-- ###OPTIONAL_NOTIFICATIONS_OWNER_SUBPART### END-->

<!-- ###OPTIONAL_NOTIFICATIONS_RESPONSIBLE_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_NOTIFICATIONS_RESPONSIBLE###</div>
    <div class="kett_sv_desc_body">###FIELD_NOTIFICATIONS_RESPONSIBLE###</div>
  </div>
<!-- ###OPTIONAL_NOTIFICATIONS_RESPONSIBLE_SUBPART### END-->

<!-- ###OPTIONAL_NOTIFICATIONS_OBSERVER_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_NOTIFICATIONS_OBSERVER###</div>
    <div class="kett_sv_desc_body">###FIELD_NOTIFICATIONS_OBSERVER###</div>
  </div>
<!-- ###OPTIONAL_NOTIFICATIONS_OBSERVER_SUBPART### END-->

<!-- ###INTERNAL_TIME_PLANNED_SUBPART### START-->
  <div class="kett_sv_single_box kett_sv_single_box_intern">
    <div class="kett_sv_sbox_head">###LABEL_INTERNAL###</div>
    <div class="kett_sv_sbox_body">
      <div class="kett_sv_sboxb_in">###FIELD_TIME_PLANNED### ###LABEL_TIME_PLANNED###</div>
    </div>
  </div>
<!-- ###INTERNAL_TIME_PLANNED_SUBPART### END-->

<!-- ###INTERNAL_TIME_USED_SUBPART### START-->
  <div class="kett_sv_single_box kett_sv_single_box_intern">
    <div class="kett_sv_sbox_head">###LABEL_INTERNAL###</div>
    <div class="kett_sv_sbox_body">
      <div class="kett_sv_sboxb_in">###FIELD_TIME_USED### ###LABEL_TIME_USED###</div>
    </div>
  </div>
<!-- ###INTERNAL_TIME_USED_SUBPART### END-->

<!-- ###INTERNAL_ADDITIONAL_INFO_SUBPART### START-->
  <div class="kett_sv_description kett_sv_intern">
    <div class="kett_sv_desc_head">###LABEL_INTERNAL###: ###LABEL_ADDITIONAL_INFO###</div>
    <div class="kett_sv_desc_body">###FIELD_ADDITIONAL_INFO###</div>
  </div>
<!-- ###INTERNAL_ADDITIONAL_INFO_SUBPART### END-->

<!-- 
***********************************************
Comments (in Singleview)
***********************************************
-->
<!-- ###TICKET_COMMENT### START-->
  <div class="kett_sv_box1">
    <div class="kett_svbox1_head">###LABEL_COMMENT_HEADER###<a name="kett_goto_comments">&nbsp;</a></div>
    <div class="kett_svbox1_body">
      <div>###COMMENTLIST###</div>
      <div>###FIELD_CONTENT###</div>
    </div>
  </div>

<!-- ###TICKET_COMMENT### END-->

<!-- 
***********************************************
Ticket History (in Singleview)
***********************************************
-->
<!-- ###TICKET_HISTORY### START-->

  <div class="kett_sv_box2">
    <div class="kett_svbox2_head">
      <div class="kett_float_left">###LABEL_TICKET_HISTORY_HEADER###</div>
      <div class="kett_float_right">
        <a href="###CURRENT_URL####zur_history" onClick="document.getElementById('std_tab_grey_body_id').style.display = 'none';">
        <span style="border:0px; float:left; margin:5px 0 0 0;">###ICONMINUS###</span></a>
        <a href="###CURRENT_URL####zur_history" onClick="document.getElementById('std_tab_grey_body_id').style.display = 'block';">
        <span style="border:0px; float:left; margin:5px 0 0 0;">###ICONPLUS###</span></a>
      </div>  
    </div>
    <div class="kett_svbox2_body"><a name="zur_history"></a>
        <div id="std_tab_grey_body_id" style="display:none;">
	<table class="ticket_history">
	<tr>
		<td class="headline">###LABEL_HISTORY_DATE###<br />###LABEL_HISTORY_USER###<br />###LABEL_HISTORY_FIELD###</td>
		<td class="headline">###LABEL_HISTORY_OLD_VALUE###</td>
		<td class="headline">###LABEL_HISTORY_NEW_VALUE###</td>
	</tr>
	###TICKET_HISTORY_ROWS###
	</table>
        </div>
    </div>
  </div>

<!-- ###TICKET_HISTORY### END-->

<!-- ###TICKET_HISTORY_ROW_TEMPLATE### START-->
  <tr>
    <td>###HISTORY_DATE###<br />###HISTORY_USER###<br />###HISTORY_FIELD###</td>
    <td>###HISTORY_OLD_VALUE###</td>
    <td>###HISTORY_NEW_VALUE###</td>
  </tr>
<!-- ###TICKET_HISTORY_ROW_TEMPLATE### START-->








<!-- 
***********************************************
*+++++++ LISTVIEW ++++++++++++++++++++++++++++*
***********************************************
-->

<!-- ###LISTVIEW### START-->

<!-- +++ Listview Toolbar +++ new ticket, searchbox -->
<div class="kett_listview_toolbar">
    <div class="kett_float_left">
      <div class="kett_toolbar_new_ticket">
        <a href="###LINK_TO_NEW_TICKET_FORM_URL###">###ICONNEWTICKET###</a>###LINK_TO_NEW_TICKET_FORM###
      </div>
    </div>
    <div class="kett_float_right">
      <div class="kett_searchbox">
        ###SEARCHBOX###
      </div>
    </div>
    <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview-Toolbar +++ show options, filter -->
<div class="kett_listview_toolbar">
  <div class="kett_float_right">
    <div class="kett_toolbar_filter">
      <form name="###FILTERFORM_NAME###" id="###FILTERFORM_NAME###" action="###FILTERFORM_ACTION###" method="post" enctype="multipart/form-data" onSubmit="###ADDITIONALJS_SUBMIT###">
      <label>###LABEL_STATUS###</label>###FILTER_STATUS### 
      <label>###LABEL_RESPONSIBLE_FEUSER###</label>###FILTER_RESPONSIBLE_FEUSER### 
      <label>###LABEL_FILTER_CATEGORY###</label>###FILTER_CATEGORY### ###FILTER_SUBMIT###
      </form>
    </div>
  </div>
  <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview-Toolbar +++ sorting, CSV export -->
<div class="kett_listview_toolbar">
  <div class="kett_float_left">
    <div class="kett_toolbar_sort">
      <label>###LABEL_SORTING###:</label>
      ###HEADER_CRDATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_FROM_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_UNTIL_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_PRIORITY###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_STATUS###
    </div>
  </div>
  <div class="kett_float_right">
    <div class="kett_toolbar_csv">
      <div>
        <a href="###LINK_URL_CSV_EXPORT###">###ICONCSVEXPORT###</a><a href="###LINK_URL_CSV_EXPORT###">###LABEL_LINKTEXT_CSV_EXPORT###</a>
      </div>
      <div class="kett_float_clean">&nbsp;</div>
    </div>
  </div>
  <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview +++ single rows -->
<div class="kett_listcontent">
  ###LISTCONTENT###
</div>

<!-- +++ Listview +++ pagebrowser -->
###PAGEBROWSER###

<!-- ###LISTVIEW### END-->








<!-- 
***********************************************
TEASERVIEW 
###HEADER_STATUS###
***********************************************
-->
<!-- ###TEASERVIEW### START-->
<!-- +++ Listview Toolbar +++ new ticket, searchbox -->
<div class="kett_listview_toolbar">
    <div class="kett_float_left">
        <div class="kett_toolbar_filter">
          	<form name="###FILTERFORM_NAME###" id="###FILTERFORM_NAME###" action="###FILTERFORM_ACTION###" method="post" enctype="multipart/form-data" onSubmit="###ADDITIONALJS_SUBMIT###">
      			<label>###LABEL_STATUS###</label>###FILTER_STATUS### ###FILTER_SUBMIT###
      		</form>
      </div>
    </div>
    <div class="kett_float_right">
      <div class="kett_searchbox">
        ###SEARCHBOX###
      </div>
    </div>
    <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview-Toolbar +++ sorting, CSV export -->
<div class="kett_listview_toolbar">
  <div class="kett_float_left">
    <div class="kett_toolbar_sort">
      <label>###LABEL_SORTING###:</label>
      ###HEADER_CRDATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_FROM_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_UNTIL_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_PRIORITY###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_STATUS###
    </div>
  </div>
  <div class="kett_float_right">
    <div class="kett_toolbar_csv">
      <div>
        <a href="###LINK_URL_CSV_EXPORT###">###ICONCSVEXPORT###</a><a href="###LINK_URL_CSV_EXPORT###">###LABEL_LINKTEXT_CSV_EXPORT###</a>
      </div>
      <div class="kett_float_clean">&nbsp;</div>
    </div>
  </div>
  <div class="kett_float_clean">&nbsp;</div>
</div>


<table cellspacing="1" cellpadding="2" class="kett_teaserview_own">
  <tr>
    <td class="kett_tw_head">###LABEL_CRDATE###</td>
    <td class="kett_tw_head">###LABEL_TITLE###</td>
    <td class="kett_tw_head">###LABEL_OWNER_FEUSER###</td>
    <td class="kett_tw_head">###LABEL_FROM_DATE###</td>
    <td class="kett_tw_head">###LABEL_UNTIL_DATE###</td>
  </tr>
###LISTCONTENT###
</table>
<!-- ###TEASERVIEW### END-->

<!-- ###TEASERVIEW_SINGLE_ROW### START-->
<tr>
  <td class="kett_tw_body">###CRDATE###</td>
  <td class="kett_tw_body">
    ###STATUS_ICON_TEASER### ###SINGLEVIEW_PAGETITLE### ###UID###<br />
    ###TITLE###
  </td>
  <td class="kett_tw_body">###OWNER_FEUSER###</td>
  <td class="kett_tw_body">###FROM_DATE###</td>
  <td class="kett_tw_body"><span class="due_###IS_OVERDUE###">###UNTIL_DATE###</span></td>
</tr>
<!-- ###TEASERVIEW_SINGLE_ROW### END-->









<!-- ###LISTVIEW_SINGLE_ROW### START-->

<div class="kett_listview_row current_row_###OWN_TASK###">
  
  <div class="kett_listview_row_head">
    <div class="kett_listview_row_statusicon">###STATUS_ICON###</div>
    <div class="kett_listview_row_headline">
      <div class="kett_lvrow_headline_top">###UID###[###CATEGORY###]</div>
      <div class="kett_lvrow_headline_title">###TITLE###</div>
    </div>
  </div>
  
  <div class="kett_listview_row_body">
    <div class="kett_listview_row_box">
      <div class="kett_lvrow_box_l">###LABEL_STATUS###:</div>
      <div class="kett_lvrow_box_r">###STATUS###</div>
      <div class="kett_lvrow_box_l">###LABEL_PRIORITY###:</div>
      <div class="kett_lvrow_box_r">###PRIORITY_WRAPPED###</div>
      <div class="kett_lvrow_box_l">###LABEL_EFFORT###:</div>
      <div class="kett_lvrow_box_r">###EFFORT###</div>
      <div class="kett_lvrow_box_l">###LABEL_BILLING###:</div>
      <div class="kett_lvrow_box_r">###BILLING###</div>
    </div>
    <div class="kett_listview_row_subt">
      ###DESCRIPTION_CLEAN###
    </div>
  </div>
 
  <div class="kett_listview_row_user">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td class="kett_lvrow_user_head">###LABEL_RESPONSIBLE_FEUSER###</td>
        <td class="kett_lvrow_user_head">###LABEL_OWNER_FEUSER###</td>
        <td class="kett_lvrow_user_head_last">###LABEL_OBSERVERS_FEUSER###</td>
      </tr>
      <tr>
        <td class="kett_lvrow_user_con"><div class="kett_lvrow_user_inner">###RESPONSIBLE_FEUSER###</div></td>
        <td class="kett_lvrow_user_con"><div class="kett_lvrow_user_inner">###OWNER_FEUSER###</div></td>
        <td class="kett_lvrow_user_con"><div class="kett_lvrow_user_inner">###OBSERVERS_FEUSER###</div></td>
      </tr>
    </table>
  </div>
  
  <div class="kett_listview_row_foot">
    <div class="kett_float_left">
      ###LABEL_CRDATE###: ###CRDATE###<span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span>###LABEL_FROM###: ###FROM_DATE###<span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span>###LABEL_TO###: <span class="due_###IS_OVERDUE###">###UNTIL_DATE###</span><span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span>###CLOSE_TIME_WITH_TEXT###<span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span><!--###LABEL_NUMBER_OF_COMMENTS###--><img src="typo3conf/ext/ke_troubletickets/res/images/icon_comments.png" /> (###NUMBER_OF_COMMENTS###)
    </div>
    <div class="kett_float_right">###EDIT_ICON### ###DELETE_ICON###</div>
  </div>
  
</div>
<!-- ###LISTVIEW_SINGLE_ROW### END-->

<!-- 
***********************************************
E-Mail Notification
***********************************************
-->
<!-- ###EMAIL_NOTIFICATION### START-->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<title>###EMAIL_FIELD_TITLE###</title>
</head>
<body>
<table style="width:98%; padding:0px; background:#e7e7e7; border-top:2px solid #d0d0d0; border-bottom:2px solid #d0d0d0;">
<tr>
	<td style="padding:1px 3px 5px 3px; font-size:11pt; font-weight:bold; color:red;">
	###LINK_TO_SINGLEVIEW_FROM_EMAIL###
	<p style="width:80%;">###WHAT_HAS_HAPPENED###</p>
	</td>	
</tr>

<tr>
	<td style="padding:0px; margin:0px;">
		<table style="width:100%; background:#f2f2f2; padding:4px 3px;">
		<tr>
			<td style="font-size:10pt; width:20%;">###LABEL_TITLE###:</td>
			<td style="font-size:11pt; font-weight:bold;"><span style="color:#bbbbbb;">###UID###</span> ###EMAIL_FIELD_TITLE###</td>
		</tr>
		<tr>
			<td style=" font-size:10pt;  width:20%;">###LABEL_CRDATE###: </td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_CRDATE###</td>
		</tr>
		<tr>
			<td style=" font-size:10pt;  width:20%;">###LABEL_OWNER_FEUSER###:</td>
			<td style=" font-size:11pt;"> ###EMAIL_FIELD_OWNER_FEUSER###</td>
		</tr>
		<tr>	
			<td style=" font-size:10pt; ">###LABEL_RESPONSIBLE_FEUSER###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_RESPONSIBLE_FEUSER###</td>
		</tr>
		<tr>
			<td style=" font-size:10pt;  width:20%;">###LABEL_OBSERVERS_FEUSER###: </td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_OBSERVERS_FEUSER###</td>
		</tr>
		<tr>
			<td style=" font-size:10pt; ">###LABEL_STATUS###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_STATUS###</td>
		</tr>
		<tr>
			<td style=" font-size:10pt; ">###LABEL_BILLING###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_BILLING###</td>
		</tr>
		<tr>
			<td style=" font-size:10pt; ">###LABEL_PRIORITY###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_PRIORITY###</td>
		</tr>
		<tr>
			<td style=" font-size:10pt; ">###LABEL_UNTIL_DATE###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_UNTIL_DATE###</td>
		</tr>
		<tr>	
			<td style=" font-size:10pt; ">###LABEL_EFFORT###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_EFFORT###</td>
		</tr>
		<tr>	
			<td style=" font-size:10pt; ">###LABEL_CATEGORY###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_CATEGORY###</td>
		</tr>
		<tr>	
			<td style=" font-size:10pt; ">###LABEL_FILES###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_FILES###</td>
		</tr>
		<tr>	
			<td style=" font-size:10pt; ">###LABEL_RELATED_TICKETS###:</td>
			<td style=" font-size:11pt;">###EMAIL_FIELD_RELATED_TICKETS###</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td style="padding:5px 3px 0px 3px; background:#fffedd;">
		<p><b>###LABEL_DESCRIPTION###:</b><br />###EMAIL_FIELD_DESCRIPTION###</p>
	</td>
<tr>
	<td style="padding:5px 3px;">
		<p>###EMAIL_FIELD_COMMENTS###</p>
	</td>
</tr>

</table>
</body>
</html>
<!-- ###EMAIL_NOTIFICATION### END-->

<!-- ###EMAIL_NOTIFICATION_LINKTOTICKET### BEGIN-->
<a href="###URL_GO_TO_TICKET###" style="background:#bbbbbb; padding:2px 10px 2px 10px; border:1px solid #999999; font-weight:normal; float:right;">###LINKTEXT_GO_TO_TICKET###</a>
<!-- ###EMAIL_NOTIFICATION_LINKTOTICKET### END-->