<!-- 
***********************************************
New Ticket / Edit Ticket Form / Singleview
***********************************************
-->

<!-- ###TICKET_FORM### START-->

###DATE2CAL_JS###

<form name="###TICKETFORM_NAME###" id="###TICKETFORM_NAME###" action="###TICKETFORM_ACTION###" method="post" enctype="multipart/form-data" onSubmit="###ADDITIONALJS_SUBMIT###">
###ADDITIONALJS_PRE###

<!-- Toolbar -->
<div class="kett_singleview_toolbar">
  <div class="kett_svt_headline">
  ###LABEL_OPEN_NEW_TICKET######LABEL_EDIT_TICKET###
  </div>
  <div class="kett_svt_navigation">
    <img src="typo3conf/ext/ke_troubletickets/res/images/icon_arrow_left.png" />###BACK_TO_LISTVIEW###
    <!-- ###TOOLBAR_EDITONLY### start -->
		<span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
		<a href="###CURRENT_URL####kett_goto_comments"><img src="typo3conf/ext/ke_troubletickets/res/images/icon_comments.png" />###LABEL_COMMENTS###</a>
		<span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
	    <a href="###CURRENT_URL####kett_goto_files"><img src="typo3conf/ext/ke_troubletickets/res/images/icon_attach.png" />###LABEL_ATTACHMENTS###</a>
		<span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
		<a href="###CURRENT_URL####zur_history" onClick="document.getElementById('std_tab_grey_body_id').style.display = 'block';"><img src="typo3conf/ext/ke_troubletickets/res/images/icon_history.png" />###LABEL_HISTORY###</a>
		<span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
		<a href="###PERMALINK_URL###"><img src="typo3conf/ext/ke_troubletickets/res/images/permalink.png" />###LABEL_PERMALINK###</a>
		<span class="kett_svt_navborder">&nbsp;&nbsp;&#124;&nbsp;&nbsp;</span>
		<img src="typo3conf/ext/ke_troubletickets/res/images/printlink.png" />###PRINTLINK###
	<!-- ###TOOLBAR_EDITONLY### end -->
  </div>
</div>

<!-- Error  -->
###ERRORS### 

<div class="kett_singleview">

  <div class="kett_sv_head">
    <div class="kett_sv_head_title">
      <label>###LABEL_TITLE###</label>###FIELD_TITLE###
    </div>
    <div class="kett_sv_head_info">
      <label>###LABEL_NUMBER###:</label>&nbsp;###UID###&nbsp;&nbsp;&nbsp;<label>###LABEL_OWNER_FEUSER###:</label>&nbsp;###VALUE_OWNER_FEUSER###&nbsp;&nbsp;###OPTIONAL_CATEGORY###
    </div>
  </div>
  
  <div class="kett_sv_boxes">
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_STATUS###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_STATUS###</div>
      </div>
    </div>
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_BILLING###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_BILLING###</div>
      </div>
    </div>
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_PRIORITY###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_PRIORITY###</div>
      </div>
    </div>
    ###OPTIONAL_RESPONSIBLE_FEUSER###
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_UNTIL_DATE###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_UNTIL_DATE###</div>
      </div>
    </div>
    
    <div class="kett_sv_single_box">
      <div class="kett_sv_sbox_head">###LABEL_EFFORT###</div>
      <div class="kett_sv_sbox_body">
        <div class="kett_sv_sboxb_in">###FIELD_EFFORT###</div>
      </div>
    </div>
    ###INTERNAL_FROM_DATE###
    ###INTERNAL_TIME_PLANNED###
    ###INTERNAL_TIME_USED###
  </div>
  
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_DESCRIPTION###</div>
    <div class="kett_sv_desc_body"><table><tr><td>###FIELD_DESCRIPTION###</td></tr></table></div>
  </div>
  
  <div class="kett_sv_save">
    <div class="kett_sv_save_in">
      ###FIELD_SUBMIT###
    </div>
    <div class="kett_float_clean"></div>
  </div>
  
  ###INTERNAL_ADDITIONAL_INFO###
  
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_FILES###<a name="kett_goto_files">&nbsp;</a></div>
    <div class="kett_sv_desc_body">###FIELD_FILES###</div>
  </div>
  
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_RELATED_TICKETS###</div>
    <div class="kett_sv_desc_body">###FIELD_RELATED_TICKETS###</div>
  </div>
  
  ###OPTIONAL_OBSERVERS_FEUSER###
  ###OPTIONAL_NOTIFICATIONS_OWNER###
  ###OPTIONAL_NOTIFICATIONS_RESPONSIBLE###
  ###OPTIONAL_NOTIFICATIONS_OBSERVER###
  
  ###HIDDEN_FIELDS###
  
  ###OPTIONAL_TICKET_COMMENT###
  
  <div class="kett_sv_save">
    <div class="kett_sv_save_in">
      ###FIELD_SUBMIT###
    </div>
    <div class="kett_float_clean"></div>
  </div>
  
  </form>
  ###ADDITIONALJS_POST###
  ###OPTIONAL_TICKET_HISTORY###
</div>




<!-- ###TICKET_FORM### END-->

<!-- 
***********************************************
Optional Labels and Fields
***********************************************
-->

<!-- ###OPTIONAL_CATEGORY_SUBPART### START-->
  <label>###LABEL_CATEGORY###:</label>&nbsp;###FIELD_CATEGORY###
<!-- ###OPTIONAL_CATEGORY_SUBPART### END-->

<!-- ###OPTIONAL_COMMENT_ROW_SUBPART### START-->
  <div class="commentrow_###COMMENTROW_ODD_EVEN###"> 
  <div style="font-weight:bold; border-top:1px dotted black; border-bottom:1px dotted black; margin:20px 0 10px 0; font-size:10px;">
  ###COMMENT_DATE###, <em>###COMMENT_AUTHOR###</em>
  </div>
  ###COMMENT_CONTENT###
  </div>
<!-- ###OPTIONAL_COMMENT_ROW_SUBPART### END-->

<!-- ###OPTIONAL_RESPONSIBLE_FEUSER_SUBPART### START-->
 <div class="kett_sv_single_box">
    <div class="kett_sv_sbox_head">###LABEL_RESPONSIBLE_FEUSER###</div>
    <div class="kett_sv_sbox_body">
      <div class="kett_sv_sboxb_in">###FIELD_RESPONSIBLE_FEUSER###</div>
    </div>
  </div>
<!-- ###OPTIONAL_RESPONSIBLE_FEUSER_SUBPART### END-->

<!-- ###OPTIONAL_OBSERVERS_FEUSER_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_OBSERVERS_FEUSER###</div>
    <div class="kett_sv_desc_body">###FIELD_OBSERVERS_FEUSER###</div>
  </div>
<!-- ###OPTIONAL_OBSERVERS_FEUSER_SUBPART### END-->

<!-- ###OPTIONAL_NOTIFICATIONS_OWNER_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_NOTIFICATIONS_OWNER###</div>
    <div class="kett_sv_desc_body">###FIELD_NOTIFICATIONS_OWNER###</div>
  </div>
<!-- ###OPTIONAL_NOTIFICATIONS_OWNER_SUBPART### END-->

<!-- ###OPTIONAL_NOTIFICATIONS_RESPONSIBLE_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_NOTIFICATIONS_RESPONSIBLE###</div>
    <div class="kett_sv_desc_body">###FIELD_NOTIFICATIONS_RESPONSIBLE###</div>
  </div>
<!-- ###OPTIONAL_NOTIFICATIONS_RESPONSIBLE_SUBPART### END-->

<!-- ###OPTIONAL_NOTIFICATIONS_OBSERVER_SUBPART### START-->
  <div class="kett_sv_description">
    <div class="kett_sv_desc_head">###LABEL_NOTIFICATIONS_OBSERVER###</div>
    <div class="kett_sv_desc_body">###FIELD_NOTIFICATIONS_OBSERVER###</div>
  </div>
<!-- ###OPTIONAL_NOTIFICATIONS_OBSERVER_SUBPART### END-->

<!-- ###INTERNAL_TIME_PLANNED_SUBPART### START-->
  <div class="kett_sv_single_box kett_sv_single_box_intern">
    <div class="kett_sv_sbox_head">###LABEL_INTERNAL###</div>
    <div class="kett_sv_sbox_body">
      <div class="kett_sv_sboxb_in">###FIELD_TIME_PLANNED### ###LABEL_TIME_PLANNED###</div>
    </div>
  </div>
<!-- ###INTERNAL_TIME_PLANNED_SUBPART### END-->

<!-- ###INTERNAL_TIME_USED_SUBPART### START-->
  <div class="kett_sv_single_box kett_sv_single_box_intern">
    <div class="kett_sv_sbox_head">###LABEL_INTERNAL###</div>
    <div class="kett_sv_sbox_body">
      <div class="kett_sv_sboxb_in">###FIELD_TIME_USED### ###LABEL_TIME_USED###</div>
    </div>
  </div>
<!-- ###INTERNAL_TIME_USED_SUBPART### END-->

<!-- ###INTERNAL_FROM_DATE_SUBPART### START-->
  <div class="kett_sv_single_box kett_sv_single_box_intern">
    <div class="kett_sv_sbox_head">###LABEL_INTERNAL### ###LABEL_FROM_DATE###</div>
    <div class="kett_sv_sbox_body">
      <div class="kett_sv_sboxb_in">###FIELD_FROM_DATE###</div>
    </div>
  </div>
<!-- ###INTERNAL_FROM_DATE_SUBPART### END-->

<!-- ###INTERNAL_ADDITIONAL_INFO_SUBPART### START-->
  <div class="kett_sv_description kett_sv_intern">
    <div class="kett_sv_desc_head">###LABEL_INTERNAL###: ###LABEL_ADDITIONAL_INFO###</div>
    <div class="kett_sv_desc_body">###FIELD_ADDITIONAL_INFO###</div>
  </div>
<!-- ###INTERNAL_ADDITIONAL_INFO_SUBPART### END-->

<!-- 
***********************************************
Comments (in Singleview)
***********************************************
-->
<!-- ###TICKET_COMMENT### START-->
  <div class="kett_sv_box1">
    <div class="kett_svbox1_head">###LABEL_COMMENT_HEADER###<a name="kett_goto_comments">&nbsp;</a></div>
    <div class="kett_svbox1_body">
      <div>###COMMENTLIST###</div>
      <div>###FIELD_CONTENT###</div>
    </div>
  </div>

<!-- ###TICKET_COMMENT### END-->

<!-- 
***********************************************
Ticket History (in Singleview)
***********************************************
-->
<!-- ###TICKET_HISTORY### START-->

  <div class="kett_sv_box2">
    <div class="kett_svbox2_head">
      <div class="kett_float_left">###LABEL_TICKET_HISTORY_HEADER###</div>
      <div class="kett_float_right">
        <a href="###CURRENT_URL####zur_history" onClick="document.getElementById('std_tab_grey_body_id').style.display = 'none';">
        <span style="border:0px; float:left; margin:5px 0 0 0;">###ICONMINUS###</span></a>
        <a href="###CURRENT_URL####zur_history" onClick="document.getElementById('std_tab_grey_body_id').style.display = 'block';">
        <span style="border:0px; float:left; margin:5px 0 0 0;">###ICONPLUS###</span></a>
      </div>  
    </div>
    <div class="kett_svbox2_body"><a name="zur_history"></a>
        <div id="std_tab_grey_body_id" style="display:none;">
	<table class="ticket_history">
	<tr>
		<td class="headline">###LABEL_HISTORY_DATE###<br />###LABEL_HISTORY_USER###<br />###LABEL_HISTORY_FIELD###</td>
		<td class="headline">###LABEL_HISTORY_OLD_VALUE###</td>
		<td class="headline">###LABEL_HISTORY_NEW_VALUE###</td>
	</tr>
	###TICKET_HISTORY_ROWS###
	</table>
        </div>
    </div>
  </div>

<!-- ###TICKET_HISTORY### END-->

<!-- ###TICKET_HISTORY_ROW_TEMPLATE### START-->
  <tr>
    <td>###HISTORY_DATE###<br />###HISTORY_USER###<br />###HISTORY_FIELD###</td>
    <td>###HISTORY_OLD_VALUE###</td>
    <td>###HISTORY_NEW_VALUE###</td>
  </tr>
<!-- ###TICKET_HISTORY_ROW_TEMPLATE### START-->








<!-- 
***********************************************
*+++++++ LISTVIEW ++++++++++++++++++++++++++++*
***********************************************
-->

<!-- ###LISTVIEW### START-->

<!-- +++ Listview Toolbar +++ new ticket, searchbox -->
<div class="kett_listview_toolbar">
    <div class="kett_float_left">
      <div class="kett_toolbar_new_ticket">
        <a href="###LINK_TO_NEW_TICKET_FORM_URL###">###ICONNEWTICKET###</a>###LINK_TO_NEW_TICKET_FORM###
      </div>
    </div>
	<div class="kett_float_right">
      <div class="kett_searchbox">
        ###SEARCHBOX###
      </div>
    </div>
    <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview-Toolbar +++ show options, filter -->
<div class="kett_listview_toolbar">
  <div class="kett_float_right">
    <div class="kett_toolbar_filter">
      <form name="###FILTERFORM_NAME###" id="###FILTERFORM_NAME###" action="###FILTERFORM_ACTION###" method="post" enctype="multipart/form-data" onSubmit="###ADDITIONALJS_SUBMIT###">
		
		<!-- ###FILTER_BLOCK_STATUS### start -->
		<div class="single_filter"><label>###LABEL_STATUS###:</label>###FILTER_STATUS###</div>
		<!-- ###FILTER_BLOCK_STATUS### end -->
		<!-- ###FILTER_BLOCK_RESPONSIBLE_FEUSER### start -->
		<div class="single_filter"><label>###LABEL_RESPONSIBLE_FEUSER###:</label>###FILTER_RESPONSIBLE_FEUSER###</div>
		<!-- ###FILTER_BLOCK_RESPONSIBLE_FEUSER### end -->
		<!-- ###FILTER_BLOCK_CLOSED_IN_MONTH### start -->
		<div class="single_filter"><label>###LABEL_CLOSED_IN_MONTH###:</label>###FILTER_CLOSED_IN_MONTH###</div>
		<!-- ###FILTER_BLOCK_CLOSED_IN_MONTH### end -->
		<!-- ###FILTER_BLOCK_BILLING### start -->
		<div class="single_filter"><label>###LABEL_BILLING###:</label>###FILTER_BILLING###</div>
		<!-- ###FILTER_BLOCK_BILLING### end -->
		<!-- ###FILTER_BLOCK_CATEGORY### start -->
		<div class="single_filter last_filter"><label>###LABEL_FILTER_CATEGORY###:</label>###FILTER_CATEGORY###</div>
		<!-- ###FILTER_BLOCK_CATEGORY### end -->
		<div class="single_filter last_filter"><br />###FILTER_SUBMIT###</div>
      </form>
    </div>
  </div>
  <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview-Toolbar +++ sorting, CSV export -->
<div class="kett_listview_toolbar">
  <div class="kett_float_left">
    <div class="kett_toolbar_sort">
      <label>###LABEL_SORTING###:</label>
      ###HEADER_CRDATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_UNTIL_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_PRIORITY###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_STATUS###
    </div>
  </div>
  
  <div class="kett_float_right">
	<div class="kett_toolbar_csv">
	  <div>
        <a href="###LINK_URL_CSV_EXPORT###">###ICONCSVEXPORT###</a><a href="###LINK_URL_CSV_EXPORT###">###LABEL_LINKTEXT_CSV_EXPORT###</a>
      </div>
      <div class="kett_float_clean">&nbsp;</div>
    </div>
  </div>
  <div class="kett_float_clean">&nbsp;</div>
  
</div>


<!-- +++ Listview +++ status message -->
<!-- ###STATUS_MESSAGE### start -->
	<div class="kett_status ###STATUS_CSS_CLASS###">###STATUS_MESSAGE_TEXT###</div>
<!-- ###STATUS_MESSAGE### start -->

<!-- +++ Listview +++ single rows -->
<div class="kett_listcontent">
  ###LISTCONTENT###
</div>

<!-- +++ Listview +++ pagebrowser -->
###PAGEBROWSER###

<!-- ###LISTVIEW### END-->








<!-- 
***********************************************
TEASERVIEW 
***********************************************
-->
<!-- ###TEASERVIEW### START-->
<!-- +++ Listview Toolbar +++ new ticket, searchbox -->
<div class="kett_listview_toolbar">
    <div class="kett_float_left">
        <div class="kett_toolbar_filter">
          	<form name="###FILTERFORM_NAME###" id="###FILTERFORM_NAME###" action="###FILTERFORM_ACTION###" method="post" enctype="multipart/form-data" onSubmit="###ADDITIONALJS_SUBMIT###">
      			<label>###LABEL_STATUS###</label>###FILTER_STATUS### ###FILTER_SUBMIT###
      		</form>
      </div>
    </div>
    <div class="kett_float_right">
      <div class="kett_searchbox">
        ###SEARCHBOX###
      </div>
    </div>
    <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview-Toolbar +++ sorting, CSV export -->
<div class="kett_listview_toolbar">
  <div class="kett_float_left">
    <div class="kett_toolbar_sort">
      <label>###LABEL_SORTING###:</label>
      ###HEADER_CRDATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_UNTIL_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_PRIORITY###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_STATUS###
    </div>
  </div>
  <div class="kett_float_right">
    <div class="kett_toolbar_csv">
      <div>
        <a href="###LINK_URL_CSV_EXPORT###">###ICONCSVEXPORT###</a><a href="###LINK_URL_CSV_EXPORT###">###LABEL_LINKTEXT_CSV_EXPORT###</a>
      </div>
      <div class="kett_float_clean">&nbsp;</div>
    </div>
  </div>
  <div class="kett_float_clean">&nbsp;</div>
</div>


<table cellspacing="1" cellpadding="2" class="kett_teaserview_own">
  <tr>
    <td class="kett_tw_head">###LABEL_CRDATE###</td>
    <td class="kett_tw_head">###LABEL_TITLE###</td>
    <td class="kett_tw_head">###LABEL_OWNER_FEUSER###</td>
    <td class="kett_tw_head">###LABEL_UNTIL_DATE###</td>
  </tr>
###LISTCONTENT###
</table>
<!-- ###TEASERVIEW### END-->

<!-- ###TEASERVIEW_SINGLE_ROW### START-->
<tr>
  <td class="kett_tw_body">###CRDATE###</td>
  <td class="kett_tw_body">
    ###STATUS_ICON_TEASER### ###SINGLEVIEW_PAGETITLE### ###UID###<br />
    ###TITLE###
  </td>
  <td class="kett_tw_body">###OWNER_FEUSER###</td>
  <td class="kett_tw_body"><span class="due_###IS_OVERDUE###">###UNTIL_DATE###</span></td>
</tr>
<!-- ###TEASERVIEW_SINGLE_ROW### END-->




<!-- 
***********************************************
TEASERVIEW OWN TASKS
***********************************************
-->
<!-- ###TEASERVIEWOWN### START-->
<!-- +++ Listview Toolbar +++ new ticket, searchbox -->
<div class="kett_listview_toolbar">
    <div class="kett_float_left">
        <div class="kett_toolbar_filter">
          	<form name="###FILTERFORM_NAME###" id="###FILTERFORM_NAME###" action="###FILTERFORM_ACTION###" method="post" enctype="multipart/form-data" onSubmit="###ADDITIONALJS_SUBMIT###">
      			<label>###LABEL_STATUS###</label>###FILTER_STATUS### ###FILTER_SUBMIT###
      		</form>
      </div>
    </div>
    <div class="kett_float_right">
      <div class="kett_searchbox">
        ###SEARCHBOX###
      </div>
    </div>
    <div class="kett_float_clean">&nbsp;</div>
</div>

<!-- +++ Listview-Toolbar +++ sorting, CSV export -->
<div class="kett_listview_toolbar">
  <div class="kett_float_left">
    <div class="kett_toolbar_sort">
      <label>###LABEL_SORTING###:</label>
      ###HEADER_CRDATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_FROM_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_UNTIL_DATE###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_PRIORITY###
      <span class="kett_tbs_border">&nbsp;&#124;&nbsp;</span>
      ###HEADER_STATUS###
    </div>
  </div>
  <div class="kett_float_right">
    <div class="kett_toolbar_csv">
      <div>
        <a href="###LINK_URL_CSV_EXPORT###">###ICONCSVEXPORT###</a><a href="###LINK_URL_CSV_EXPORT###">###LABEL_LINKTEXT_CSV_EXPORT###</a>
      </div>
      <div class="kett_float_clean">&nbsp;</div>
    </div>
  </div>
  <div class="kett_float_clean">&nbsp;</div>
</div>


<table cellspacing="1" cellpadding="2" class="kett_teaserview_own">
  <tr>
    <td class="kett_tw_head">###LABEL_CRDATE###</td>
    <td class="kett_tw_head">###LABEL_TITLE###</td>
    <td class="kett_tw_head">###LABEL_OWNER_FEUSER###</td>
    <td class="kett_tw_head">###LABEL_FROM_DATE###</td>
    <td class="kett_tw_head">###LABEL_UNTIL_DATE###</td>
  </tr>
###LISTCONTENT###
</table>
<!-- ###TEASERVIEWOWN### END-->

<!-- ###TEASERVIEWOWN_SINGLE_ROW### START-->
<tr>
  <td class="kett_tw_body">###CRDATE###</td>
  <td class="kett_tw_body">
    ###STATUS_ICON_TEASER### ###SINGLEVIEW_PAGETITLE### ###UID###<br />
    ###TITLE###
  </td>
  <td class="kett_tw_body">###OWNER_FEUSER###</td>
  <td class="kett_tw_body"><span class="due_###IS_OVERDUE###">###FROM_DATE###</span></td>
  <td class="kett_tw_body"><span class="due_###IS_OVERDUE###">###UNTIL_DATE###</span></td>
</tr>
<!-- ###TEASERVIEWOWN_SINGLE_ROW### END-->







<!-- ###LISTVIEW_SINGLE_ROW### START-->

<div class="kett_listview_row current_row_###OWN_TASK###">
  
  <div class="kett_listview_row_head">
    <div class="kett_listview_row_statusicon">###STATUS_ICON###</div>
    <div class="kett_listview_row_headline">
      <div class="kett_lvrow_headline_top">###UID###[###CATEGORY###]</div>
      <div class="kett_lvrow_headline_title">###TITLE###</div>
    </div>
  </div>
  
  <div class="kett_listview_row_body">
    <div class="kett_listview_row_box">
      <div class="kett_lvrow_box_l">###LABEL_STATUS###:</div>
      <div class="kett_lvrow_box_r">###STATUS###</div>
      <div class="kett_lvrow_box_l">###LABEL_PRIORITY###:</div>
      <div class="kett_lvrow_box_r">###PRIORITY_WRAPPED###</div>
      <div class="kett_lvrow_box_l">###LABEL_EFFORT###:</div>
      <div class="kett_lvrow_box_r">###EFFORT###</div>
      <div class="kett_lvrow_box_l">###LABEL_BILLING###:</div>
      <div class="kett_lvrow_box_r">###BILLING###</div>
    </div>
    <div class="kett_listview_row_subt">
      ###DESCRIPTION_CLEAN###
    </div>
  </div>
 
  <div class="kett_listview_row_user">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td class="kett_lvrow_user_head">###LABEL_RESPONSIBLE_FEUSER###</td>
        <td class="kett_lvrow_user_head">###LABEL_OWNER_FEUSER###</td>
        <td class="kett_lvrow_user_head_last">###LABEL_OBSERVERS_FEUSER###</td>
      </tr>
      <tr>
        <td class="kett_lvrow_user_con"><div class="kett_lvrow_user_inner">###RESPONSIBLE_FEUSER###</div></td>
        <td class="kett_lvrow_user_con"><div class="kett_lvrow_user_inner">###OWNER_FEUSER###</div></td>
        <td class="kett_lvrow_user_con"><div class="kett_lvrow_user_inner">###OBSERVERS_FEUSER###</div></td>
      </tr>
    </table>
  </div>
  
  <div class="kett_listview_row_foot">
    <div class="kett_float_left">
      ###LABEL_CRDATE###: ###CRDATE###
	  <span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span>
	  ###LABEL_TO###: <span class="due_###IS_OVERDUE###">###UNTIL_DATE###</span>
	  <span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span>
	  ###CLOSE_TIME_WITH_TEXT###
	  <span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span>
	  <!--###LABEL_NUMBER_OF_COMMENTS###-->
	  <img src="typo3conf/ext/ke_troubletickets/res/images/icon_comments.png" title="###LATEST_COMMENT###" /></a> (###NUMBER_OF_COMMENTS###)
	  <span class="kett_lvrf_border">&nbsp;&#124;&nbsp;</span>
	  <img src="typo3conf/ext/ke_troubletickets/res/images/icon_attach.png" title="###FILES###" /> (###NUMBER_OF_ATTACHMENTS###)
    </div>
    <div class="kett_float_right">###EDIT_ICON### ###DELETE_ICON###</div>
  </div>
  

  </div>
<!-- ###LISTVIEW_SINGLE_ROW### END-->

<!-- 
***********************************************
E-Mail Notification
***********************************************
-->
<!-- ###EMAIL_NOTIFICATION### START-->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<title>###EMAIL_FIELD_TITLE###</title>
</head>
<body bgcolor="#CFCFCF" style="background:#CFCFCF;">

<table border="0" cellpadding="0" cellspacing="0" align="center" style="width:80%; padding:0px; background:#ffffff; border-top:3px solid #FEBC83; border-bottom:3px solid #ebc345;">
<tr>
	<td style="border-top:3px solid #F99D4E; background:#F58220; padding:5px;  font-family: Verdana; font-size:11pt; font-weight:bold; color: white;">
	
	<table style="width: 100%; padding: 0;">
		<tr>
			<td style="font-family: Verdana; font-size: 11pt;"><b><span style="color:#e6e6e6;">###UID###</span> <span style="color:#ffffff;">###EMAIL_FIELD_TITLE###</span></b></td>
			<td width="155" style="width: 155px; font-family: Verdana; font-size: 10pt; text-align: right;"><div style="float: right; text-align: right; margin: 3px 3px 4px 0"><a href="#go_to_comments" style="display: block; float: right; padding:3px 10px; border:1px solid #cd6913; color:#000000; font-weight:normal; ">###LABEL_GO_TO_COMMENTS_FROM_EMAIL###</a></div></td>
			<td width="130" style="width: 130px; font-family: Verdana; font-size: 10pt; text-align: right;"><div style="float: right; text-align: right; margin: 3px 3px 4px 0">###LINK_TO_SINGLEVIEW_FROM_EMAIL###</div></td>
		</tr>
	</table>
	
	<div style="font-family: Verdana; font-size: 10pt; color: #000000; padding: 0 0 0 5px; font-weight: normal;">###WHAT_HAS_HAPPENED###</div>
	</td>	
</tr>

###INTERNAL_CHANGES###

<tr>
	<td style="padding:0px; margin:0px;">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%; background:#ffffff; padding:0;">
		<tr>
		<td style="width:40%; vertical-align: top; padding: 5px;">
			<table style="width:100%; background:#ffffff; padding:0px; ">
			<tr>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_CRDATE###:</b></td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_CRDATE###&nbsp;</td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family:Verdana;"><b>###LABEL_OWNER_FEUSER###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family:Verdana;"> ###EMAIL_FIELD_OWNER_FEUSER###&nbsp;</td>
			</tr>
			<tr>	
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family:Verdana;"><b>###LABEL_RESPONSIBLE_FEUSER###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family:Verdana;">###EMAIL_FIELD_RESPONSIBLE_FEUSER###&nbsp;</td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #cccccc; vertical-align: top; padding: 0 10px 5px 0; font-size:10pt; font-family:Verdana;"><b>###LABEL_OBSERVERS_FEUSER###: </td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align: top; padding: 0 10px 5px 0; font-size:10pt; font-family:Verdana;">###EMAIL_FIELD_OBSERVERS_FEUSER###&nbsp;</td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_STATUS###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_STATUS###&nbsp;</td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_BILLING###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_BILLING###&nbsp;</td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_PRIORITY###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_PRIORITY_WRAPPED###&nbsp;</td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_UNTIL_DATE###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_UNTIL_DATE###&nbsp;</td>
			</tr>
			<tr>	
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_EFFORT###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_EFFORT###&nbsp;</td>
			</tr>
			<tr>	
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_CATEGORY###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_CATEGORY###&nbsp;</td>
			</tr>
			<tr>	
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_FILES###:</td>
				<td style="border-bottom: 1px solid #cccccc; vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_FILES###&nbsp;</td>
			</tr>
			<tr>	
				<td style="vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;"><b>###LABEL_RELATED_TICKETS###:</td>
				<td style="vertical-align:top; padding: 0 10px 5px 0; font-size:10pt; font-family: Verdana;">###EMAIL_FIELD_RELATED_TICKETS###&nbsp;</td>
			</tr>
			</table>
		</td>
		
		<td style="width:60%; vertical-align: top; background: #E6EFEF; font-family: Verdana; padding: 5px;">
			<!--<div style="font-size:10pt;"><p><b>###LABEL_DESCRIPTION###:</b></p></div>-->
			<div style="font-size:10pt;">###EMAIL_FIELD_DESCRIPTION###</div>
		</td>

		</tr>
		
		</table>
	
	</td>
</tr>

<tr>
	<td style="padding:6px 5px 8px 5px; background: #FFF7CC; font-family: Verdana;">
		<div style="font-size:10pt; ">###EMAIL_FIELD_COMMENTS###</div>
		<a name="go_to_comments"></a>
	</td>
</tr>

</table>
</body>
</html>
<!-- ###EMAIL_NOTIFICATION### END-->

<!-- ###EMAIL_NOTIFICATION_LINKTOTICKET### BEGIN-->

<a href="###URL_GO_TO_TICKET###" style="display: block; float: right; padding:3px 10px; border:1px solid #cd6913; color:#000000; font-weight:normal; ">###LINKTEXT_GO_TO_TICKET###</a>

<!-- ###EMAIL_NOTIFICATION_LINKTOTICKET### END-->

<!-- ###INTERNAL_CHANGES_SUBPART### START-->
<tr>
	<td style="border-top:3px solid #F99D4E; background:#bde3f8; padding:5px;  font-family: Verdana; font-size:11pt; font-weight:bold; color: white;">
	<div style="font-family: Verdana; font-size: 10pt; color: #000000; padding: 0 0 0 5px; font-weight: normal;">###INTERNAL_CHANGES###</div>
	</td>	
</tr>
<!-- ###INTERNAL_CHANGES_SUBPART### END-->



<!-- ###PRINTVIEW### START-->

<div class="kett_printview">

    <div class="printview_header">###FIELD_TITLE###</div>
	<div class="printview_floatblock">
		<label>###LABEL_NUMBER###:</label>
		###UID###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_OWNER_FEUSER###:</label>
		###FIELD_OWNER_FEUSER###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_CATEGORY###:</label>
		###FIELD_CATEGORY###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_STATUS###:</label>
		###FIELD_STATUS###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_BILLING###:</label>
		###FIELD_BILLING###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_PRIORITY###:</label>
		###FIELD_PRIORITY###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_RESPONSIBLE_FEUSER###:</label>
		###FIELD_RESPONSIBLE_FEUSER###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_UNTIL_DATE###:</label>
		###FIELD_UNTIL_DATE###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_floatblock">
		<label>###LABEL_EFFORT###:</label>
		###FIELD_EFFORT###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<!-- ###INTERNAL_FROM_DATE### start -->
	<div class="printview_floatblock">
		<label>###LABEL_FROM_DATE###:</label>
		###FIELD_FROM_DATE###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<!-- ###INTERNAL_FROM_DATE### end -->
	<!-- ###INTERNAL_TIME_PLANNED### start  -->
	<div class="printview_floatblock">
		<label>###LABEL_TIME_PLANNED###:</label>
		###FIELD_TIME_PLANNED###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<!-- ###INTERNAL_TIME_PLANNED### end  -->
	<!-- ###INTERNAL_TIME_USED### start  -->
    <div class="printview_floatblock">
		<label>###LABEL_TIME_USED###:</label>
		###FIELD_TIME_USED###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<!-- ###INTERNAL_TIME_USED### end  -->
	
	<div class="kett_float_clean">&nbsp;</div>
	
	<div class="printview_block">
		<span class="label">###LABEL_DESCRIPTION###:</span><br />
		###FIELD_DESCRIPTION###
	</div>
	
	<!-- ###INTERNAL_ADDITIONAL_INFO### start -->
	<div class="printview_block">
		<label>###LABEL_ADDITIONAL_INFO###:</label>
		###FIELD_ADDITIONAL_INFO###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<!-- ###INTERNAL_ADDITIONAL_INFO### end -->
	<div class="printview_block">
		<label>###LABEL_FILES###:</label>
		###FIELD_FILES###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_block">
		<label>###LABEL_RELATED_TICKETS###:</label>
		###FIELD_RELATED_TICKETS###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_block">
		<label>###LABEL_OBSERVERS_FEUSER###:</label>
		###FIELD_OBSERVERS_FEUSER###
		<div class="kett_float_clean">&nbsp;</div>
	</div>
	<div class="printview_block">
		<label>###LABEL_COMMENTS###:</label>
		###FIELD_TICKET_COMMENT###
	</div>
	
	
	
</div>


<!-- ###PRINTVIEW### END-->